<% provide(:title, "Privacy Policy") %>
<% provide(:meta_keywords, "privacy policy, policy") %>
<% provide(:meta_descp, "Privacy policy of Koolio.io") %>
<% provide(:og_type, "article") %>
<% provide(:og_url, privacy_policy_path) %>
<% provide(:og_img_url, image_url("tmp/#{subdomain(request)}_logo_bigger.png")) %>
<%= render :partial => 'shared/nav' %>
<div class="document-wrapper">
  <div class="document" id="privacy-policy">
    <h1>Koolio.io Privacy Policy</h1>
    <p>
      Koolio.io ("website") respects the privacy of our website visitors; this privacy policy ("policy") sets out how this website will treat your personal information.
    </p>

    <h2> What information do we collect? </h2>
    <p>
      We may collect, store and use the following kinds of personal information:
    </p>
    <ul>
      <li>information about your computer and about your visits to and use of this website (including your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page views and website navigation paths);</li>
      <li>information relating to any use you may make of our free legal notices;</li>
      <li>information that you provide to us for the purpose of registering with us;</li>
      <li>information that you provide to us for the purpose of posting content on the website; and</li>
      <li>any other information that you choose to send to us.</li>
    </ul>

    <h2>Cookies</h2>
    <p>
      A cookie consists of a piece of text sent by a web server to a web browser, and stored by the browser. The information is then sent back to the server each time the browser requests a page from the server. This enables the web server to identify and track the web browser.
    </p>
    <p>
      There are two types of cookies. Session cookies will be deleted from your computer when you close your browser. Persistent cookies will remain stored on your computer until deleted, or until they reach a specified expiry date.
    </p>
    <p>
      We currently use both session cookies and permanent cookies on the website. We will use the cookies to keep track of you whilst you navigate the website and to enable our website to recognise you when you visit.
    </p>

    <h2>Using your personal information</h2>
    <p>
      Personal information submitted to us via this website will be used for the purposes specified in this privacy policy or in relevant parts of the website.
    </p>
    <p>
      We may use your personal information to:
    </p>
    <ul>
      <li>administer the website;</li>
      <li>improve your browsing experience by personalising the website;</li>
      <li>enable your use of the services available on the website;</li>
      <li>send you non-marketing commercial communications;</li>
      <li>send you email notifications which you have specifically requested;</li>
      <li>send to you marketing communications relating to our business or the businesses of carefully-selected third parties which we think may be of interest to you by post or, where you have specifically agreed to this, by email or similar technology (you can inform us at any time if you no longer require marketing communications);</li>
      <li>provide third parties with statistical information about our users – but this information will not be used to identify any individual user; and</li>
      <li>deal with enquiries and complaints made by or about you relating to the website.</li>
    </ul>
    <p>
      Where you submit personal information for publication on our website, we will publish and otherwise use that information in accordance with the license you grant to us.
    </p>

    <h2>Disclosures</h2>
    <p>
      We may disclose your personal information:
    </p>
    <ul>
      <li>to the extent that we are required to do so by law;</li>
      <li>in connection with any legal proceedings or prospective legal proceedings;</li>
      <li>in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk);</li>
      <li>to the purchaser (or prospective purchaser) of any business or asset that we are (or are contemplating) selling; and</li>
      <li>to any person who we reasonably believe may apply to a court or other competent authority for disclosure of that personal information where, in our reasonable opinion, such court or authority would be reasonably likely to order disclosure of that personal information.</li>
    </ul>
    <p>
      Except as provided in this privacy policy, we will not provide your information to third parties.
    </p>
    <h2>International data transfers</h2>
    <p>
      Information that we collect may be stored and processed in and transferred between any of the countries in which we operate in order to enable us to use the information in accordance with this privacy policy.
    </p>
    <p>
      Information which you provide may be transferred to countries which do not have data protection laws equivalent to those in force in the European Economic Area.
    </p>
    <p>
      In addition, personal information that you submit for publication on the website will be published on the internet and may be available, via the internet, around the world. We cannot prevent the use or misuse of such information by others.
    </p>
    <p>
      You expressly agree to such transfers of personal information.
    </p>

    <h2>Security of your personal information</h2>
    <p>
      We will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information. We will store all the personal information you provide on our hosting provider’s (Amazon Web Services) servers.
    </p>
    <p>
      Of course, data transmission over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet. You are responsible for keeping your password and user details confidential. We will not ask you for your password (except when you log in to the website).
    </p>

    <h2>Policy Amendments</h2>
    <p>
      We may update this privacy policy from time-to-time by posting a new version on our website. You should check this page occasionally to ensure you are happy with any changes.
    </p>

    <h2>Your rights</h2>
    <p>
      You may instruct us to provide you with any personal information we hold about you. Provision of such information will be subject to:
    </p>
    <ul>
      <li>the supply of appropriate evidence of your identity (for this purpose, we will usually accept a photocopy of your passport certified by a lawyer or bank plus an original copy of a utility bill showing your current address).</li>
    </ul>
    <p>
      We may withhold such personal information to the extent permitted by law.
    </p>

    <h2>Third party websites</h2>
    <p>
      The website contains links to other websites. We are not responsible for the privacy policies or practices of third party websites.
    </p>

    <h2>Contact</h2>
    <p>
      If you have any questions about this privacy policy or our treatment of your personal information, please write to us by email to <b>contact@koolio.io</b>.
    </p>

    <h2>Credit</h2>
    <p>
      This privacy policy document is created with content assist from <a href="http://www.freenetlaw.com/privacy-statement/">Privacy Statement at freenetlaw.com</a>.
    </p>
  </div>
</div>
