<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />
  </head>
  <body>
    <%= @user.username %>, 
    <br>
    Thanks for sign up. 
    Please activate your account: <%= url_for controller: "users", 
				              action: "activate", 
					      host: "localhost:3000",
					      id: "#{@user.id}", 
					      tk: @user.activation_digest %>
  </body>
</html>
