<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />
  </head>
  <body>
    <%= @user.username %>, 
    <br>
    Please click this link to reset your password. This link is valid only once and expires after 24 hours.
    <br>
    <%= url_for controller: "users", 
                action: "validate_reset_password",
		host: "localhost:3000",
		id: "#{@user.id}", 
		tk: @user.reset_digest %>
  </body>
</html>
