<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />
  </head>
  <body>
    <%= @user.username %>, 
    <br>
    <br>
    Please click the following link to reset your password. This link expires after 24 hours.
    <br>
    <br>
    <%= url_for controller: "users", 
                action: "validate_reset_password",
		only_path: false,
		id: "#{@user.id}", 
		tk: @user.reset_digest %>
    <br>
    <br>
    Yours,
    <br>
    KOOLIO.IO
  </body>
</html>
