<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />
  </head>
  <body>
    Thank you for sign up, <%= @user.username %>
    <br>
    <br>
    KOOLIO.IO
  </body>
</html>
