<%# Give 'card_id', 'side', 'content' as parameter
    content should be an object that is built by parsing
     the #{side}_content as JSON. 'content' is assumed to
     match the expectation of "text" type content, i.e.
     it has "title" and "body"
%>
<div class="card-text-title">
  <h1><%= "#{content['title']}" %></h1>
</div>
<% if content['title'].length == 0 %>
  <div class="card-text-body no-title">
<% else %>
  <div class="card-text-body">
<% end %>
  <p><%= "#{content['body']}" %></p>
</div>

