<%# "content" must have "store_dir" and "file_name" and "host", "video_type" properties
    Display the thumbnail version for the image
%>
<div class="card-video-wrapper">
  <video width="250" height="250">
    <source src="<%="#{content['host']}/#{content['store_dir']}/#{content['file_name']}"%>" type="video/<%="#{content['video_type']}"%>">
    Your browser does not support HTML5 video tag.
  </video>
  <div class="notice <%=subdomain(request)%>-subdomain">video</div>
</div>
