 $("#profile-contents-display").html("<%= j render partial: "shared/profile_cards"%>"
				      + "<%= j render :partial => 'shared/card_info_panels/like_comment_panel'%>"
				      + "<div class=\"hidden\" id=\"deck-cards-panel\"><%= j render :partial => 'shared/card_info_panels/deck_cards_panel'%></div>");

