<%# The avatar is a flippable card with one img on each side %>
<div class="flipper <%="#{extra_class}"%>" id="avatar-card"">
  <div class="flipper-front flip-dir1 avatar-side">
    <img id="avatar-front-img" src="<%= "#{user.my_avatar!('front')}" %>" alt="FRONT">
  </div>
  <div class="flipper-back flip-dir1 avatar-side">
    <img id="avatar-back-img" src="<%= "#{user.my_avatar!('back')}" %>" alt="BACK">
  </div>
</div>
