<div class="card-wrapper">
  <div class="card flipper">
    <div class="card-front flipper-front flip-dir1">
      <%= card.front_content.html_safe %>
    </div>
    <div class="card-back flipper-back flip-dir1">
      <%= card.back_content.html_safe %>
    </div>
  </div>
  <div class="card-info-bar">
    <p><b>52</b> likes, <b>104</b> flips</p>
  </div>
</div>
