<div class="comment slim-info">
  <div class="left profile">
    <%= image_tag "default-profile.jpg", :id => "nav-pic-img" %>
  </div>
  <div class="right">
    <div class="comment_author_name"><%="#{author_name}"%></div>
    <p class="comment_content""><%="#{content}"%></p>
    <div class="comment-likes">
      <p>Like <%="#{n_likes}"%></p>
    </div>
  </div>
</div>
