<div class="deck-editor hidden" id="<%="#{context}"%>-deck-editor">
  <%= form_for(@deck, remote: true, authenticity_token: true) do |f| %>
    <div class="field-item">
      <p class="field-name">Name</p>
      <%= f.text_field :title, placeholder: "" %>
    </div>
    <div class="field-item">
      <p class="field-name">Description</p>
      <%= f.text_area :description, placeholder: "" %>
    </div>
    <div class="field-item" id="deck-prop-select">
      <p class="field-name">Property</p>
      <label class="radio-name" for="prop-public">public</label><input type="radio" name="deck_property" class="deck-prop-radios" id="prop-public" value="public" checked="checked">
      <label class="radio-name" for="prop-private">private</label><input type="radio" name="deck_property" class="deck-prop-radios" id="prop-private" value="private">
    </div>
    <div class="field-item hidden" id="share-as-visitors">
      <p class="field-name">Share as visitors</p>
      <ul id="deck-shared-visitors"></ul>
    </div>
    <div class="field-item" id="share-as-editors">
      <p class="field-name">Share as editors</p>
      <ul id="deck-shared-editors"></ul>
    </div>
    <div class="field-item"  id="tags-field"">
      <p class="field-name">Tags</p>
      <ul id="added-tags"></ul>
    </div>
    <div class="field-btns">
      <button id="deck-editor-cancel-btn" type="button">Cancel</button>
      <button id="deck-editor-submit-btn" disabled>Submit</button>
      <button id="deck-editor-delete-btn" class="hidden" type="button">Delete</button>
    </div>
  <% end %>
</div>
<div class="glass-overlay" id="overlay-for-deck-editor"></div>
