<% if logged_in? && user.id != current_user.id %>
  <% if !current_user.following? user %>
    <button class="follow-btn" id="user_<%="#{user.id}"%>_follow_btn" data-userid="<%="#{user.id}"%>">+</button>
  <% else %>
    <button class="follow-btn followed" id="user_<%="#{user.id}"%>_follow_btn" data-userid="<%="#{user.id}"%>">&#10004</button>
  <% end %>
<% end %>

