<div class="nav-dropdown hidden" id="profile-pic-dropdown">
  <ul>
    <li>
      <div id="nav-avatar"><img src="<%= "#{current_user.my_avatar!('front')}" %>" alt="FRONT"></div>
    </li>
    <li class="nav-dropdown-link">
      <%= link_to user_profile_path(current_user), data: { no_turbolink: true } do %>
	Profile<i class="fa fa-user"></i>
      <% end %>
    </li>
    <li class="nav-dropdown-link">
      <%= link_to user_settings_path(current_user), data: { no_turbolink: true } do %>
	Settings<i class="fa fa-gear"></i>
      <% end %>
    </li>
    <li class="nav-dropdown-link">
      <%= link_to logout_path, method: :delete do %>
	Logout<i class="fa fa-sign-out"></i>
      <% end %>
    </li>
  </ul>
</div>
