<nav>
  <div class="nav-wrapper">
    <div class="nav-container">
      <span class="nav-left nav-logo">
	<a href="#">KOOLIO</a>
      </span>
      <span class="nav-left nav-span">
	<ul>
	  <li>
	    <form class="search-form">
	      <input name="search_field" type="text" placeholder="Search on Koolio" class="search-field" id="navbar-search-field"/>
	      <button type="submit" class="search-submit">
		<i class="fa fa-search"></i>
	      </button>
	    </form>
	  </li>
	</ul>
      </span>
      <span class="nav-left nav-span">	    
      </span>
      <span class="nav-right nav-span">
	<% if false #!logged_in? %>
	  <ul>
	    <li>
	      <a href="#" class="nav-signup">Signup</a>
	    </li>
	    <li>
	      <a href="#" class="nav-login">Login</a>
	    </li>
	  </ul>
	<% else %>
	  <ul>
	    <li>
	      <a href="#" class="bold nav-option-link">Popular</a>
	    </li>
	    <li>
	      <a href="#" class="nav-option-link">My Decks & Cards</a>
	    </li>
	    <li>
	      <a href="#" class="nav-option-link">Home</a>
	    </li>
	    <li>
	      <a class="nav-pic">
		<%= image_tag "tmp/pic_profile.png" %>
	      </a>
	    </li>
	  </ul>
	<% end %>
      </span>
    </div>
  </div>
</nav>
