<div class="add-deck-btn" id="prof-add-deck-btn">
  <div class="add-deck-circle">
    <p>+</p>
  </div>
  <p>create a deck</p>
</div>
<% @profile_decks.each do |deck| %>
  <%# Take four cards from the deck, ordered by created time %>
  <%= render partial: "shared/deck", locals: { deck: deck, limit: 4 } %>
<% end %>
