<% if @user.id == current_user.id && render_btn %>
  <div class="add-deck-btn deck-square" id="prof-add-deck-btn">
    <div class="add-deck-circle">
      <p>+</p>
    </div>
    <p>create a deck</p>
  </div>
<% end %>
<% @profile_decks.each do |deck| %>
  <%# Take four cards from the deck, ordered by created time %>
  <% if (logged_in? && deck.viewable_by?(current_user)) || deck.explorable? %>
    <%= render partial: "shared/deck", locals: { deck: deck, limit: 4 } %>
  <% end %>
<% end %>
