<div class="user-info-wrapper">

  <div class="user-info-profile">
    <a>
      <%= image_tag "default-profile.svg" %>
    </a>
  </div>
  <div class="user-info-item">
    <a>
      Normal Username
    </a>
  </div>
  <div class="user-info-short-stats">
    <a href="#">
      <strong>938</strong><br>
      <span>Followers</span>
    </a>
    <a href="#">
      <strong>23</strong><br>
      <span>Following</span>
    </a>
    <a href="#">
      <strong>455</strong><br>
      <span>Cards</span>
    </a>
    <a href="#">
      <strong>15</strong><br>
      <span>Decks</span>
    </a>
  </div>    

  <div class=""></div>
</div>
