<div class="type-select">
  <div class="type-btn-row" id="type-btn-row-0">
    <button class="type-btn text-type-btn" id="<%="#{side}"%>-type-text-btn" type="button">Aa</button>
    <button class="type-btn image-type-btn" id="<%="#{side}"%>-type-img-btn" type="button"><i class="fa fa-picture-o"></i></button>
  </div>
  <div class="type-btn-row" id="type-btn-row-1">
    <button class="type-btn video-type-btn" id="<%="#{side}"%>-type-video-btn" type="button"><i class="fa fa-video-camera"></i></button>
    <button class="type-btn more-type-btn" id="<%="#{side}"%>-type-more-btn" type="button"><i class="fa fa-ellipsis-h"></i></button>
  </div>
</div>
