<%= stylesheet_link_tag "cards.css" %>

<div class="card-creating" id="card-creating-area">
  <%= render partial: "shared/card_editor", locals: {deck: @deck, 
						     url: deck_card_path(@deck, @card), 
						     method: :put} %>
</div>
