<%= stylesheet_link_tag "users.css" %>
<%= javascript_include_tag "flexible_cards_handler.js" %>
<%= javascript_include_tag "_card_embed.js" %>
<div id="embedded-card-wrapper">
  <% if @card.explorable? %>
    <% card_front = JSON.parse(@card.front_content) %>
    <% card_back = JSON.parse(@card.back_content) %>
    <!-- Just use home-card as category for convenience. -->
    <%= render partial: "shared/card", locals: { category_class: "home-card", card_id: @card.id,
        card_front_type: card_front['type'], card_front_content: card_front['content'],
        card_back_type: card_back['type'], card_back_content: card_back['content'],
        current_user_liked_card: false, info_toggle: false, zoom: false
    } %>
  <% end %>
</div>
<!-- overlays -->
<div class="transparent-overlay hidden" id="overlay-for-focus-card"></div>
<div class="transparent-overlay hidden" id="overlay-for-zoom-card"></div>
