@import "variables";
@import "_mixins";

$editor-width: 100%;
$editor-height: 100%;
$editor-left-part-width: 65%;
$editor-right-part-width: 100% - $editor-left-part-width;
$editor-btn-radius: 10px;
$inner-editor-radius: 10px; // e.g. text-editor, img-editor

#card-editor-flipper {
    width: $editor-left-part-width;
    height: $editor-height;
    z-index: 4;
}

.card-editor {
    width: 100%;
    height: 100%;

    /**** loading gif ****/
    .waiting {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba($white, 0.8);

	img {
	    position: absolute;
	    @include center-vertically-and-horizontally;
	}
    }
}


#front-wrapper, #back-wrapper {
    width: 100%;
    height: 100%;
}

.editor-left-part {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.editor-right-part {
    width: $editor-right-part-width;
    height: $editor-height;
    position: absolute;
    right: 0;
}

/**** TYPE SELECT ****/
$type-btn-color: #B5B5B5;
$text-type-btn-color: #E6E6E6;
$image-type-btn-color: #F2992E;
$video-type-btn-color: #56BC8A;

$type-btn-size: 40%;
$type-select-width: 75%;
.type-select {
    width: $type-select-width;
    height: $type-select-width; // keep same margin
    @include center-vertically-and-horizontally;
}
.type-select.www-subdomain {
    background-color: $www-bg-color;
}
.type-select.x-subdomain {
    background-color: $x-bg-color;
}

.type-btn-row {
    width: 100%;
    height: 50%;
}

#type-btn-row-0 {
    .type-btn {
	margin-bottom: 1%;
    }
}
#type-btn-row-1 {
    .type-btn {
	margin-top: 1%;
    }
}

.type-btn {
    font-size: 43px;
    color: $grey-black;
    background-color: $type-btn-color;
    font-weight: 700;
    width: 48%;
    height: 97%;
    margin-right: 1%;
    margin-left: 1%;
    border: none;
    float: left;
    @include border-radius($editor-btn-radius);
}

.text-type-btn {
    background-color: $text-type-btn-color;
    @include decent-interact-bg($text-type-btn-color);
}
.image-type-btn {
    background-color: $image-type-btn-color;
    @include decent-interact-bg($image-type-btn-color);
}
.video-type-btn {
    background-color: $video-type-btn-color;
    @include decent-interact-bg($video-type-btn-color);
}
.more-type-btn {
    background-color: $type-btn-color;
    //@include decent-interact-bg($type-btn-color);
}

.previous-type {
    color: $black;
}

/**** END TYPE SELECT ****/

/**** FIXED OPTIONS ****/
$fixed-options-height: $type-select-width; // keep same margin
$fixed-options-btn-margin: 5px;
$side-select-btn-size: 100px;
$side-select-btn-font-size: 20px;
$create-card-btn-size: $side-select-btn-size * 2 + $fixed-options-btn-margin * 2;
$create-card-btn-height: $fixed-options-height * 0.5;
$create-card-btn-font-size: 24px;
.fixed-options {
    width: 100%;
    height: $fixed-options-height;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.fixed-options-btn-row {
    width: 100%;
    height: 50%;
}

.side-select-btn, .create-card-btn {
    margin: $fixed-options-btn-margin;
    border: none;
}

.side-select-btn {
    font-size: $side-select-btn-font-size;
    font-weight: 700;
    background-color: #C3C3C3;
    width: $side-select-btn-size;
    height: $side-select-btn-size;
    @include border-radius($editor-btn-radius);

    &:hover {
	background-color: #E6E6E6;
    }
}

.side-editing {
    background-color: #E6E6E6;
}

/* Deck selector */
$deck-selected-color: lighten($decent-blue, 5%);
$deck-selected-font-size: 18px;
$editor-decks-list-color: $white;
$create-card-btn-color: #56BC8A;
#deck-selector {
    margin: 5px;
    background-color: $deck-selected-color;
    color: $white;
    @include border-radius($editor-btn-radius);
    position: relative;
    p {
	@include center-vertically-and-horizontally;
	font-size: $deck-selected-font-size;
	white-space: nowrap;
    }
}
#deck-selector.ok-select {
    @include decent-interact-bg($deck-selected-color);
    &:hover {
	cursor: pointer;
    }
}
.editor-decks-list {
    position: absolute;
    margin: 5px;
    background-color: $editor-decks-list-color;
    width: $create-card-btn-size;
    overflow: hidden;
    @include border-radius($editor-btn-radius/2);
    border: 1px solid $darker-grey;
    ul {
	li {
	    width: 100%;
	    list-style-type: none;
	    padding: 6px;
	    color: $black;
	    @include box-sizing(border-box);
	    @include decent-interact-bg($editor-decks-list-color);
	    border-bottom: 1px solid darken($light-grey, 5%);
	    &:hover {
		cursor: pointer;
	    }
	}
	li:last-child {
	    border: none;
	}
    }
}
// We watn deck selector to have the same size as create card btn
.create-card-btn, #deck-selector {
    width: $create-card-btn-size;
    height: $create-card-btn-height;
    font-size: $create-card-btn-font-size;
}

.create-card-btn {
    font-weight: 700;
    background-color: $create-card-btn-color;
    color: $white;
    @include border-radius($editor-btn-radius);
    @include decent-interact-bg($create-card-btn-color);
}

.create-card-btn:disabled {
    background-color: #CAD4DA;
    color: #BCBCBC;
}
/**** END FIXED OPTIONS ****/
/**** GENERALS OF EDITORS ****/
$inner-editor-bg: $default-card-bg;
$inner-btn-row-height: 20%;
.inner-editor-btn-row {
    width: 100%;
    height: $inner-btn-row-height;
    @include box-sizing(border-box);
    @include border-radius($inner-editor-radius);
    position: absolute;
    bottom: 0px;
    background-color: $inner-editor-bg;
}

.inner-edit-back-btn, .inner-change-type-btn, .inner-confirm-btn {
    padding: 10px 12px;
    position: absolute;
    border: none;
    font-size: 17px;
    font-weight: 700;
    top: 25%;
    @include border-radius(5px);
}

.inner-edit-back-btn {
    right: 20px;
    background-color: $grey-blue;
    color: $white;
    @include decent-interact-bg($grey-blue);
}

.inner-change-type-btn {
    left: 20px;
    color: $grey-black;
    @include decent-interact-bg($light-grey);
}

.inner-confirm-btn {
    right: 20px;
    background-color: $soft-green;
    color: $white;
    @include decent-interact-bg($soft-green);
}
/**** END GENERALS OF EDITORS ****/
/**** TEXT EDITOR ****/
$text-editor-width: 75%;
$text-editor-bg: $inner-editor-bg;
$text-title-font-size: 30px;
$text-body-font-size: 21px;
.text-editor {
    width: $text-editor-width;
    height: $text-editor-width;
    @include center-vertically-and-horizontally;
    overflow: hidden;
    @include border-radius($inner-editor-radius);
    border: 1px solid $deck-stroke;

    input[type="text"], textarea {
	color: $soft-black;
	background-color: $text-editor-bg;
	display: block;
    }

    // title
    input[type="text"] {
	@include box-sizing(border-box);
	width: 100%;
	height: 17%;
	font-size: $text-title-font-size;
	font-weight: 700;
	padding-left: 20px;
	border: none;
    }

    // body
    textarea {
	resize: none;
	outline: none;
	font-size: $text-body-font-size;
	font-family: Arial, Sans-serif;
	@include box-sizing(border-box);
	width: 100%;
	height: 65%;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
    }
}
/**** END TEXT EDITOR ****/
/**** IMAGE EDITOR ****/
$img-editor-width: 75%;
$img-body-font-size: 16px;
$img-editor-bg: $inner-editor-bg;
$img-uploader-icon-size: 77px;
$img-uploader-wrapper-height: 100% - $inner-btn-row-height;
$img-uploader-wrapper-width: 90%;
.image-editor.www-subdomain {
    background-color: $www-bg-color;
}
.image-editor.x-subdomain {
    background-color: $x-bg-color;
}
.image-editor {
    width: $img-editor-width;
    height: $img-editor-width ;
    @include center-vertically-and-horizontally;

    .image-editor-uploader, .image-editor-display {
	width: 100%;
	background-color: $img-editor-bg;
	@include border-radius($inner-editor-radius);
	@include box-sizing(border-box);	
	position: relative;
	border: 1px solid $deck-stroke;
    }

    /* Uploader */
    .image-editor-uploader {
	/* The height of this area is equal to 
	   height of fixed-options-btn-row + height of create-card-btn
	 */
	height: $fixed-options-height * 0.5 + $create-card-btn-height;
	padding-top: 5%;
	padding-bottom: 5%;
	position: relative;
	
	.inner-edit-back-btn, .inner-change-type-btn, inner-confirm-btn {
	    top: 5%;
	}
    }

    /* Display -- where the user really creates a card */
    .image-editor-display {
	height: 100%;
    }

    /* Cropper -- where the user crops the uploaded image */
    .image-editor-cropper {
	height: 100%;
    }
    
    /* Upload image phase */
    .image-uploader-wrapper {
	width: $img-uploader-wrapper-width;
	height: $img-uploader-wrapper-height;
	margin: auto;

	.image-uploader-half {
	    width: 50%;
	    height: 100%;
	    float: left;
	    @include box-sizing(border-box);
	}
	.image-uploader-half.right-dash {
	    border-right: 2px dashed darken($img-editor-bg, 15%);
	}
	.image-uploader-half.left-dash {
	    border-left: 2px dashed darken($img-editor-bg, 15%);
	}
	
	// type refers to file or link
	.image-upload-type-btn {
	    border: none;
	    background-color: $img-editor-bg;
	    font-size: $img-uploader-icon-size;
	    color: darken($img-editor-bg, 15%);

	    #upload-file-icon {
		// center it
		width: 50px;
		height: 50px;
		position: absolute;
		top: 25%;
		left: 15%;
	    }

	    &:hover {
		color: darken($img-editor-bg, 25%);
		cursor: pointer;
	    }
	}

	.image-upload-type-btn:disabled {
	    &:hover {
		color: darken($img-editor-bg, 15%);
		cursor: auto;
	    }
	}
    }

    /* Crop image phase */
    $cropper-width: 480px;
    $cropper-height: 480px;
    .image-editor-cropper {
	width: $cropper-width;
	height: $cropper-height;
	@include center-vertically-and-horizontally;
	@include border-radius($default-border-radius);
	@include box-sizing(border-box);
	padding-bottom: 20px;
    }
    .image-editor-cropper.www-subdomain {
	background-color: $www-bg-color;
    }
    .image-editor-cropper.x-subdomain {
	background-color: $x-bg-color;
    }

    .image-cropper-wrapper {
	width: $cropper-width;
	height: $cropper-height - 40px;
	position: relative;
	.jcrop-active {
	    width: $cropper-width;
	    height: $cropper-height - 40px;
	    @include center-vertically-and-horizontally;
	}
	img {
	    padding: 10px;
	    @include box-sizing(border-box);
	    //min-width: $img-editor-display-min-width;
	    max-width: $cropper-width;
	    max-height: $cropper-height - 40px;
	    @include center-vertically-and-horizontally;	    
	}
    }
    $image-cropper-btn-width: 70px;
    $image-cropper-btn-height: 28px;
    $confirm-color: #56AF54;
    $cancel-color: $light-grey;
    .image-cropper-btns {
	width: $image-cropper-btn-width * 2 + 30px;
	height: $image-cropper-btn-height;
	margin: auto;
	position: relative;

	button {
	    width: $image-cropper-btn-width;
	    height: $image-cropper-btn-height;
	    border: none;
	    @include border-radius($default-border-radius);
	    font-weight: 600;
	    font-size: 12px;
	}
	.image-cropper-cancel {
	    color: $healthy-black;
	    position: absolute;
	    left: 0;
	    background-color: $cancel-color;
	    @include decent-interact-bg($cancel-color);
	}
	.image-cropper-confirm {
	    color: $white;
	    position: absolute;
	    right: 0;
	    background-color: $confirm-color;
	    @include decent-interact-bg($confirm-color);
	}
    }

    $img-editor-display-min-width: 50%;
    $img-editor-display-min-height: 50%;
    $img-display-height: 65%;
    $img-descp-font-size: 17px;
    /* Display image & enter message phase */
    .image-display-wrapper {
	width: 100%;
	height: $img-display-height;
	position: relative;
	.jcrop-active {
	    max-width: auto;
	    min-height: $img-editor-display-min-height;
	    max-height: 100%;
	    @include center-vertically-and-horizontally;
	}
	
	img {
	    padding: 10px;
	    @include box-sizing(border-box);
	    //min-width: $img-editor-display-min-width;
	    max-width: 100%;
	    min-height: $img-editor-display-min-height;
	    max-height: 100%;
	    @include center-vertically-and-horizontally;	    
	}
    }
    .image-descp {
	width: 100%;
	height: 100% - $img-display-height - $inner-btn-row-height;
	
	input[type="text"] {
	    width: 100%;
	    height: 100%;
	    background-color: $inner-editor-bg;
	    @include box-sizing(border-box);
	    border: none;
	    font-size: $img-descp-font-size;
	    padding-left: 10px;
	}
    }

    $image-link-width: $img-uploader-wrapper-width;
    $image-link-height: 45px;
    .image-link-paste {
	width: $image-link-width;
	height: $image-link-height;
	@include center-vertically-and-horizontally(absolute);

	input[type="text"] {
	    @include box-sizing(border-box);
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    font-size: 17px;
	    padding-left: 10px;
	    border: none;
	    color: $decent-blue;
	    @include box-shadow(0px,3px,20px,$darker-grey);
	}

	.url-alert-msg {
	    background-color: $alert-red;
	    color: darken($alert-red, 30%);
	    position: absolute;
	    left: $image-link-width - 32%;
	    top: $image-link-height;
	    padding: 5px;
	}
    }
}
/**** END IMAGE EDITOR ****/

/**** VIDEO EDITOR ****/
$video-editor-width: 75%;
$video-body-font-size: 16px;
$video-editor-bg: $inner-editor-bg;
$video-uploader-icon-size: 77px;
$video-uploader-wrapper-height: 100% - $inner-btn-row-height;
$video-uploader-wrapper-width: 90%;
.video-editor.www-subdomain {
    background-color: $www-bg-color;
}
.video-editor.x-subdomain {
    background-color: $x-bg-color;
}
.video-editor {
    width: $video-editor-width;
    height: $video-editor-width ;
    @include center-vertically-and-horizontally;

    .video-editor-uploader, .video-editor-display {
	width: 100%;
	background-color: $video-editor-bg;
	@include border-radius($inner-editor-radius);
	@include box-sizing(border-box);	
	position: relative;
	border: 1px solid $deck-stroke;
    }

    /* Uploader */
    .video-editor-uploader {
	/* The height of this area is equal to 
	   height of fixed-options-btn-row + height of create-card-btn
	 */
	height: $fixed-options-height * 0.5 + $create-card-btn-height;
	padding-top: 5%;
	padding-bottom: 5%;
	position: relative;
	
	.inner-edit-back-btn, .inner-change-type-btn, inner-confirm-btn {
	    top: 5%;
	}

	/**** loading gif ****/
	.waiting {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	    background-color: rgba($white, 0.8);

	    video {
		position: absolute;
		@include center-vertically-and-horizontally;
	    }
	}
    }

    /* Display -- where the user really creates a card */
    .video-editor-display {
	height: 100%;
    }
    
    /* Upload video phase */
    .video-uploader-wrapper {
	width: $video-uploader-wrapper-width;
	height: $video-uploader-wrapper-height;
	margin: auto;

	.video-uploader-half {
	    width: 50%;
	    height: 100%;
	    float: left;
	    @include box-sizing(border-box);
	}
	.video-uploader-half.right-dash {
	    border-right: 2px dashed darken($video-editor-bg, 15%);
	}
	.video-uploader-half.left-dash {
	    border-left: 2px dashed darken($video-editor-bg, 15%);
	}
	
	// type refers to file or link
	.video-upload-type-btn {
	    border: none;
	    background-color: $video-editor-bg;
	    font-size: $video-uploader-icon-size;
	    color: darken($video-editor-bg, 15%);

	    #upload-file-icon {
		// center it
		width: 50px;
		height: 50px;
		position: absolute;
		top: 25%;
		left: 15%;
	    }

	    &:hover {
		color: darken($video-editor-bg, 25%);
		cursor: pointer;
	    }
	}

	.video-upload-type-btn:disabled {
	    &:hover {
		color: darken($video-editor-bg, 15%);
		cursor: auto;
	    }
	}
    }

    $video-link-width: $video-uploader-wrapper-width;
    $video-link-height: 45px;
    .video-link-paste {
	width: $video-link-width;
	height: $video-link-height;
	@include center-vertically-and-horizontally(absolute);

	input[type="text"] {
	    @include box-sizing(border-box);
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    font-size: 17px;
	    padding-left: 10px;
	    border: none;
	    color: $decent-blue;
	    @include box-shadow(0px,3px,20px,$darker-grey);
	}

	.url-alert-msg {
	    background-color: $alert-red;
	    color: darken($alert-red, 30%);
	    position: absolute;
	    left: $video-link-width - 32%;
	    top: $video-link-height;
	    padding: 5px;
	}
    }

    $video-editor-display-min-width: 50%;
    $video-editor-display-min-height: 50%;
    $video-display-height: 65%;
    $video-descp-font-size: 17px;
    /* Display video phase */
    .video-display-wrapper {
	width: 100%;
	height: $video-display-height;
	position: relative;
	
	video {
	    padding: 10px;
	    @include box-sizing(border-box);
	    //min-width: $video-editor-display-min-width;
	    max-width: 100%;
	    min-height: $video-editor-display-min-height;
	    max-height: 100%;
	    @include center-vertically-and-horizontally;	    
	}
    }
}
/**** END VIDEO EDITOR ****/
