@import "global";

$editor-width: 100%;
$editor-height: 100%;
$editor-left-part-width: 65%;
$editor-right-part-width: 100% - $editor-left-part-width;
$editor-btn-radius: 10px;

.card-editor {
    width: $editor-width;
    height: $editor-height;
}

.editor-left-part {
    width: $editor-left-part-width;
    height: $editor-height;
    position: absolute;
    left: 0;
}

.editor-right-part {
    width: $editor-right-part-width;
    height: $editor-height;
    position: absolute;
    right: 0;
}

/**** TYPE SELECT ****/
$type-btn-color: #B3B3B3;
$text-type-btn-color: #E6E6E6;
$image-type-btn-color: #F2992E;
$video-type-btn-color: #56BC8A;

$type-btn-size: 40%;
$type-select-width: 75%;
.type-select {
    width: $type-select-width;
    height: $type-select-width; // keep same margin
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Done */
}

.type-btn-row {
    width: 100%;
    height: 50%;
}

#type-btn-row-0 {
    .type-btn {
	margin-bottom: 1%;
    }
}
#type-btn-row-1 {
    .type-btn {
	margin-top: 1%;
    }
}

.type-btn {
    font-size: 43px;
    color: $grey-black;
    background-color: $type-btn-color;
    font-weight: 700;
    width: 48%;
    height: 97%;
    margin-right: 1%;
    margin-left: 1%;
    border: none;
    float: left;
    @include border-radius($editor-btn-radius);
}

.text-type-btn {
    background-color: $text-type-btn-color;
    @include decent-interact-bg($text-type-btn-color);
}
.image-type-btn {
    background-color: $image-type-btn-color;
    @include decent-interact-bg($image-type-btn-color);
}
.video-type-btn {
    background-color: $video-type-btn-color;
    @include decent-interact-bg($video-type-btn-color);
}
.more-type-btn {
    background-color: $type-btn-color;
    @include decent-interact-bg($type-btn-color);
}

/**** END TYPE SELECT ****/

/**** FIXED OPTIONS ****/
$fixed-options-height: $type-select-width; // keep same margin
$fixed-options-btn-margin: 5px;
$side-select-btn-size: 100px;
$side-select-btn-font-size: 20px;
$create-card-btn-size: $side-select-btn-size * 2 + $fixed-options-btn-margin * 2;
$create-card-btn-font-size: 30px;
.fixed-options {
    width: 100%;
    height: $fixed-options-height;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.fixed-options-btn-row {
    width: 100%;
    height: 50%;
}

.side-select-btn, .create-card-btn {
    background-color: #E6E6E6;
    margin: $fixed-options-btn-margin;
    border: none;
}

.side-select-btn:disabled, .create-card-btn:disabled {
    background-color: #CAD4DA;
    color: #BCBCBC;
}

.side-select-btn {
    font-size: $side-select-btn-font-size;
    font-weight: 700;
    width: $side-select-btn-size;
    height: $side-select-btn-size;
    @include border-radius($editor-btn-radius);
}

.create-card-btn {
    font-size: $create-card-btn-font-size;
    font-weight: 700;
    width: $create-card-btn-size;
    height: 40%;
    @include border-radius($editor-btn-radius);
}
/**** END FIXED OPTIONS ****/