@import "variables";
@import "_mixins";

.deck-editor {
    width: $deck-editor-width;
    min-height: $deck-editor-height;
    background-color: $deck-editor-bg;
    @include border-radius($default-border-radius);
    @include center-vertically-and-horizontally(fixed);
    z-index: 5;
    padding: $deck-editor-padding;
    padding-bottom: 2*$deck-editor-padding;
    form {
	.field-item {
	    vertical-align: middle;
	    width: 100%;
	    min-height: $field-item-min-height;
	    margin-bottom: $field-item-magin;
	    overflow: auto;
	    input[type="text"], textarea, #catg-selected {
		float: right;
		width: $deck-editor-width - $deck-editor-label-width;
		@include box-sizing(border-box);
		border: 1px solid $field-border-color;
		@include border-radius($default-border-radius);
		font-family: "MyriadPro", "Arial", sans-serif;
		padding: $field-input-padding;
		font-size: $field-input-font-size;
	    }
	    textarea {
		height: 2*$field-item-min-height;
		resize: none;
	    }
	    input {
		height: $deck-editor-field-height;
	    }
	    .radio-name {
		display: inline-block;
		margin-top: ($deck-editor-field-height - $field-input-font-size) / 2;
		font-weight: 600;
		color: $deck-editor-field-name-color;
	    }
	    input[type="radio"] {
		-webkit-appearance: checkbox; /* Chrome, Safari, Opera */
		-moz-appearance: checkbox;    /* Firefox */
		-ms-appearance: checkbox;     /* not currently supported */
		vertical-align: -20%;
		margin-left: 15px;
		margin-right: 40px;
		width: $field-radio-size;
		height: $field-radio-size;
		margin-top: ($deck-editor-field-height - 14px) / 2;
	    }

	    .field-name {
		width: $deck-editor-label-width;
		display: in-line;
		float: left;
		font-weight: 600;
		font-size: $field-name-font-size;
		color: $deck-editor-field-name-color;
		margin-top: ($deck-editor-field-height - $field-input-font-size) / 2;
	    }

	    $item-value-margin: 120px;
	    .field-item-note {
		position: absolute;
		font-size: 8pt;
		margin-top: 3px;
		margin-left: $item-value-margin;
		margin-right: 10px;
	    }

	} // end field-item
	.field-btns {
	    width: $deck-editor-width;
	    height: $field-btn-height + 5px;
	    position: absolute;
	    bottom: $field-btn-bottom-gap;
	    
	    button {
		width: $field-btn-width;
		height: $field-btn-height;
		border: none;
		@include border-radius($default-border-radius);
		position: absolute;
		font-weight: 700;
		font-size: $field-btn-height / 2;
		color: $white;
	    }

	    #deck-editor-cancel-btn {
		background-color: darken($field-border-color, 5%);
		left: 0;
		&:hover {
		    background-color: darken($field-border-color, 15%);
		}
	    }
	    #deck-editor-submit-btn {
		background-color: $deck-submit-btn-color;
		right: 0;
		&:hover {
		    background-color: darken($deck-submit-btn-color, 15%);
		}
		&:disabled {
		    background-color: lighten($deck-submit-btn-color, 15%);
		    &:hover {
			background-color: lighten($deck-submit-btn-color, 15%);
		    }
		}
	    }
	    #deck-editor-update-btn {
		background-color: $deck-update-btn-color;
		right: 0;
		&:hover {
		    background-color: darken($deck-update-btn-color, 15%);
		}
		&:disabled {
		    background-color: lighten($deck-update-btn-color, 15%);
		    &:hover {
			background-color: lighten($deck-update-btn-color, 15%);
		    }
		}
	    }
	    $deck-delete-btn-width: $field-btn-width * 0.75;
	    $deck-delete-btn-height: $field-btn-height * 0.75;
	    #deck-editor-delete-btn {
		width: $deck-delete-btn-width;
		height: $deck-delete-btn-height;
		background-color: transparent;//
		color: $deck-delete-btn-color;
		right: ($deck-editor-width - $deck-delete-btn-width) / 2;
		top: $deck-delete-btn-height / 2;
		font-size: 13px;
		&:hover {
		    background-color: transparent;//darken($deck-delete-btn-color, 15%);
		    color: darken($deck-delete-btn-color, 15%);
		}
		&:disabled {
		    background-color: transparent; //lighten($deck-delete-btn-color, 15%);
		    color: lighten($deck-delete-btn-color, 15%);
		    &:hover {
			color: lighten($deck-delete-btn-color, 15%);
		    }
		}
	    }
	}
    }
    #added-tags, #deck-shared-editors, #deck-shared-visitors {
	@include box-sizing(border-box);
	overflow: hidden;
	.tagit-new {
	    margin: 0px;
	    input[type="text"] {
		padding-left: 5px;
		height: 15px;
		border: none;
		width: 70px;
	    }
	}

	.tagit-choice {
	    .tagit-label {
		color: $deck-editor-field-name-color;
		font-weight: 600;
		font-size: 12px;
	    }
	}
    }
}

#catg-field.deck-editor-field {
    $catg-list-width: 160px;
    #catg-selected {
	height: $deck-editor-field-height;
	padding: 8px;
	padding-top: 7px;
	position: relative;
	i {
	    color: $healthy-black;
	    position: absolute;
	    right: 8px;
	    top: 7px;
	}
    }
    #catg-selected.unselected {
	background-color: lighten($darker-grey, 5%);
	color: $healthy-black;
	&:hover {
	    background-color: $darker-grey;
	    cursor: pointer;
	}
    }
    #catg-selected {
	background-color: $white;
	&:hover {
	    background-color: $light-grey;
	    cursor: pointer;
	}
    }
    #catg-list {
	width: $catg-list-width;
	height: 100%;
	position: absolute;
	top: 0px;
	left: $deck-editor-width + $deck-editor-padding * 2;
	padding: 0px;

	@include box-sizing(border-box);
	z-index: 5;
	ul {
	    text-align: left;
	    border: 1px solid $darker-grey;
	    background-color: $white;
	    height: 100%;
	    overflow-y: auto;
	    overflow-x: hidden;
	    list-style-type: none;
	    li:first-child {
		padding-top: 7px;
	    }
	    li {
		width: $catg-list-width;
		padding: 4px;
		padding-left: 10px;
		border-bottom: 1px solid $darker-grey;
		@include box-sizing(border-box);

		&:hover {
		    cursor: pointer;
		    background-color: $light-grey;
		}
	    }
	    li:last-child {
		border-bottom: none;
	    }
	    li.selected {
		font-weight: 700;
	    }
	}
    }

}
/* DECK EDITOR */