@import "variables";
@import "_mixins";
@import "_login_form";

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include background-size(cover);

    @include tablet-portrait-and-below {
	
    }
}
/* For different subdomain, we use different styles for specific elements */
body.www-subdomain {  /* www is the default subdomain */
    background-image: image-url("www_bg.svg");

    #welcome-msg-area {
	b {
	    color: #FFFF45;  // highlight character in the welcome message
	}
    }
}
body.x-subdomain {  /* NSFW */
    background-image: image-url("x_bg.jpg");
    color: white;  // White text for X subdomain
    
    #welcome-msg-area {
	b {
	    color: #FF8080;  // highlight character in the welcome message
	    text-shadow: 2px 2px #000;
	}
    }
}

.nav-wrapper.www-subdomain {
    background-color: rgba($www-bg-color, 0.3);
}
.nav-wrapper.x-subdomain {
    background-color: rgba($x-bg-color, 0.3);
}


#welcome-msg-area {
    font-family: 'MyriadPro', Arial, sans-serif;
    float:left;
    margin-top: 25px;
    p {
	font-size: 50px;
	padding: 50px;
	font-weight: 700;
	line-height: 130%;

	// Highlight ('b') is handled in subdomain styles
    }
}

.content-wrapper {
    @include content-wrapper(900px, 100%);
    height: 400px;

    margin-top: 100px;
}

.explore-btn-area {
    width: 250px;
    margin: auto;
    .explore-btn {
	width: 250px;
	height: 50px;
	font-size: 25px;
	color: $light-grey;
	padding: 10px;
	border: none;
	background-color: rgba($soft-black, 0.7);
	cursor: pointer;
	b {
	    color: #FFFF45;
	}

	&:hover {
	    @include linear-gradient(to bottom, rgba($soft-black, 0.7), rgba(darken($light-grey, 70%), 0.7));
	}
    }
}