@import "variables";

 /* Navbar colors */
$nav-bg-color: $bg-color;
$nav-logo-color: $white;

/* Navbar variables */
$nav-height: 40px;
$nav-width: 85%;
$nav-padding: 10px;
$nav-logo-size: 35px;
$nav-logo-width: 150px;
$nav-logo-margin-right: 50px;
$nav-search-field-height: $nav-height - 12px;
$nav-search-field-width: 400px;
$nav-search-field-font-size: 14px;
$nav-option-btn-size: $nav-height;

.nav-wrapper {
    background-color: $nav-bg-color;
    padding: 10px;
}

.nav-container {
    height: $nav-height;
    width: $nav-width;
    margin: auto;
}

.nav-first-part {
    float: left;
    width: 75%;
    height: $nav-height;
}

.nav-second-part {
    float: left;
    width: 25%;
    height: $nav-height;
}

.nav-logo, .nav-search-wrapper {
    float: left;
}

.nav-logo {
    a {
	color: $nav-logo-color;
    }
    h1 {
	font-size: $nav-logo-size;
    }
    width: $nav-logo-width;
    margin-right: $nav-logo-margin-right;
}

.nav-search-form {
    input[type="text"] {
	width: $nav-search-field-width;
	height: $nav-search-field-height;
	margin: ($nav-height - $nav-search-field-height) / 2 0px;
	font-size: $nav-search-field-font-size;
	padding-left: 5px;
	border: none;
    }
}

.nav-option-btn {
    float: left;
    width: $nav-option-btn-size;
    height: $nav-option-btn-size;
    font-size: $nav-option-btn-size;
    a {
	color: $darker-grey;
	&:hover {
	    color: $light-grey;
	}
    }
    padding-left: 20px;
}

.nav-option-highlighted, .nav-option-sign-in {
    a {
	color: $white;
    }
}

.nav-option-sign-in {
    a {
	&:hover {
	    color: $gold;
	}
    }
}

.nav-right-push-1 {
    margin-left: 200px;
}

.nav-profile-pic {
    img {
	width: $nav-option-btn-size;
	height: $nav-option-btn-size;
    }
}