.nav-wrapper {
    @include content-wrapper($nav-width, 100%);
    background-color: $nav-bg-color;
    padding: 10px;
    position: relative;
    top: 0;
}


.nav-container {
    width: 100%;
    height: $nav-height;
    margin: auto;
    position: relative;
    left: 0;
    top: 0;
}

.nav-first-part {
    //float: left;
    width: $nav-first-part-width;
    height: $nav-height;
    @include tablet-landscape-and-below {
	width: $nav-first-part-width;
//	width: 72%;
    }
    position: absolute;
    left: -7px;
    top: 0;
}

.nav-second-part {
    //float: left;
    //width: $nav-second-part-width;
    height: $nav-height;
    @include tablet-landscape-and-below {
	//width: $nav-second-part-width;
//	width: 28%;
    }
    position: absolute;
    right: 0;
    top: 0;
}

.nav-logo, .nav-search-wrapper {
    float: left;
}

.nav-logo {
    a {
	color: $nav-logo-color;
    }
    h1 {
	font-size: $nav-logo-size;
    }
    img {
	width: $nav-logo-size;
	height: $nav-logo-size;
    }
    width: $nav-logo-width;
    margin-right: $nav-logo-margin-right;
    @include tablet-landscape-and-below {
	margin-right: $nav-logo-margin-right - 10px;;
    }
}

.nav-search-form {
    input[type="text"] {
	width: $nav-search-field-width;
	height: $nav-search-field-height;
	margin: ($nav-height - $nav-search-field-height) / 2 0px;
	font-size: $nav-search-field-font-size;
	padding-left: 5px;
	border: none;
	@include border-radius(3px);
    }
}

.nav-option-btn, .nav-username {
    float: left;
}

.nav-option-btn {
    width: $nav-option-btn-size;
    height: $nav-option-btn-size;
    font-size: $nav-option-btn-size;
    a {
	color: $light-grey;
	&:hover {
	    color: $white;
	}
    }
    padding-right: $nav-option-padding;
}

.nav-option-highlighted, .nav-option-sign-in {
    a {
	color: $white;
    }
}

.nav-option-sign-in {
    a {
	&:hover {
	    color: $gold;
	}
    }
}

.nav-right-push-1 {
    margin-left: 150px;
}

.nav-profile-pic {
    img {
	width: $nav-option-btn-size * 0.8;
	height: $nav-option-btn-size * 0.8;
    }
}

.nav-username {
    height: $nav-option-btn-size;
    position: relative;
    p {
	font-size: $nav-username-font-size;
	padding-top: ($nav-height -  $nav-username-font-size) / 2;
	padding-bottom: ($nav-height -  $nav-username-font-size) / 2;
	font-weight: 600;
    }
}

// add a triangle
$nav-dropdown-bg: $white;
.nav-dropdown:before {
    @include little-triangle(10px, 10px, 10px, $nav-dropdown-bg);
    position: absolute;
    top: -8px;
    right: 10px;;
}

.nav-dropdown {
    width: $nav-dropdown-width;
    //max-width: $nav-dropdown-width + 200px;
    background-color: $nav-dropdown-bg;
    position: absolute;
    right: 0;
    padding: 0px 2px;
    z-index: 10;
    @include box-shadow(0px, 0px, 10px, lighten($healthy-black, 40%));
    @include border-radius(2px);

    @include tablet-landscape-and-below {
	right: 0px;
    }

    ul {
	padding: 0;
	margin: 0;
	li {
	    list-style-type: none;
	    p {
		min-width: $nav-dropdown-width;
		padding: 5px;
	    }

	    .nav-dropdown-bar {
		border-bottom: 1px solid $light-grey;
	    }
	    
	    a {
		display: block;
		width: 90%;
		padding: 5px;
		color: $decent-purple;
		.fa {
		    position: absolute;
		    right: 10px;
		    color: darken($light-grey, 50%);		    
		}
		&:hover {
		    color: $white;
		    background-color: $decent-purple;
		    .fa {
			color: $light-grey;
		    }
		}
	    }
	}
	li.nav-dropdown-link:hover {
	    color: $white;
	    background-color: $decent-purple;
	    .fa {
		color: $light-grey;
	    }
	}
    }
}
$nav-avatar-size: 42px;
#nav-avatar {
    width: $nav-avatar-size;
    height: $nav-avatar-size; 
    margin: auto;
    padding: 10px;
    img {
	width: $nav-avatar-size;
	height: $nav-avatar-size; 
	@include border-radius(50%);
    }
}
