@import "variables";

 /* Navbar colors */
$nav-bg-color: $bg-color;
$nav-logo-color: $white;

/* Navbar variables */
$nav-height: 40px;
$nav-width: 85%;
$nav-padding: 10px;
$nav-logo-size: 35px;
$nav-logo-width: 150px;
$nav-logo-margin-right: 50px;
$nav-search-field-height: $nav-height - 12px;
$nav-search-field-width: 400px;
$nav-search-field-font-size: 14px;
$nav-option-btn-size: $nav-height;
$nav-dropdown-width: 100px;

.nav-wrapper {
    background-color: $nav-bg-color;
    padding: 10px;
}

.nav-container {
    @include content-wrapper($nav-width, 100%);
    height: $nav-height;
    margin: auto;
}

.nav-first-part {
    float: left;
    width: 71%;
    height: $nav-height;
    @include tablet-landscape-and-below {
	width: 72%;
    }
}

.nav-second-part {
    float: left;
    width: 29%;
    height: $nav-height;
    @include tablet-landscape-and-below {
	width: 28%;
    }
}

.nav-logo, .nav-search-wrapper {
    float: left;
}

.nav-logo {
    a {
	color: $nav-logo-color;
    }
    h1 {
	font-size: $nav-logo-size;
    }
    width: $nav-logo-width;
    margin-right: $nav-logo-margin-right;
    @include tablet-landscape-and-below {
	margin-right: $nav-logo-margin-right - 30px;;
    }
}

.nav-search-form {
    input[type="text"] {
	width: $nav-search-field-width;
	height: $nav-search-field-height;
	margin: ($nav-height - $nav-search-field-height) / 2 0px;
	font-size: $nav-search-field-font-size;
	padding-left: 5px;
	border: none;
	@include border-radius(3px);
    }
}

.nav-option-btn {
    float: left;
    width: $nav-option-btn-size;
    height: $nav-option-btn-size;
    font-size: $nav-option-btn-size;
    a {
	color: $light-grey;
	&:hover {
	    color: $white;
	}
    }
    padding-left: 20px;
}

.nav-option-highlighted, .nav-option-sign-in {
    a {
	color: $white;
    }
}

.nav-option-sign-in {
    a {
	&:hover {
	    color: $gold;
	}
    }
}

.nav-right-push-1 {
    margin-left: 150px;
}

.nav-profile-pic {
    img {
	width: $nav-option-btn-size * 0.8;
	height: $nav-option-btn-size * 0.8;
    }
}

.nav-dropdown {
    min-width: $nav-dropdown-width;
    max-width: $nav-dropdown-width + 200px;
    background-color: $white;
    position: absolute;
    right: (100% - $nav-width) / 2;
    padding: 0px 2px;
    z-index: 10;

    @include tablet-landscape-and-below {
	right: 0px;
    }

    ul {
	padding: 0;
	margin: 0;
	li {
	    list-style-type: none;
	    p {
		min-width: $nav-dropdown-width;
		padding: 5px;
	    }

	    .nav-dropdown-bar {
		border-bottom: 1px solid $light-grey;
	    }
	    
	    a {
		display: block;
		width: 90%;
		padding: 5px;
		.fa {
		    position: absolute;
		    right: 10px;
		    color: darken($light-grey, 50%);		    
		}
		&:hover {
		    color: $white;
		    background-color: $theme-purple;
		    .fa {
			color: $light-grey;
		    }
		}
	    }
	}
    }
}