@import "variables";
@import "_mixins";

$setting-item-width: 220px;
$setting-item-min-height: 150px;
$setting-item-default-bg: #FCFCFC;
$setting-name-color: #999999;
$setting-text-width: 160px;
$setting-text-font-size: 13px;
#setting-items-wrapper {
    width: $setting-item-width*3 + 40px;
    margin: auto;
    margin-top: 40px;
}
.setting-item {
    width: $setting-item-width;
    min-height: $setting-item-min-height;
    @include box-sizing(border-box);
    margin-bottom: 15px;
    position: relative;

    .setting-item-side {
	width: 100%;
	min-height: $setting-item-min-height;
	background-color: $setting-item-default-bg;
	@include border-radius($default-border-radius);
	@include box-shadow(0px,0px,4px, $deck-stroke);
    }

    .setting-fields {
	width: $setting-text-width;
	margin: auto;
	@include center-vertically-and-horizontally;
	input[type=text], input[type=password] {
	    padding-bottom: 4px;
	    padding-left: 6px;
	    font-size: $setting-text-font-size;
	    width: $setting-text-width;
	    background-color: $setting-item-default-bg;
	    border: none;
	    border-bottom: 1px solid $setting-name-color;
	    color: darken($setting-name-color, 25%);
	    @include box-sizing(border-box);
	}
	#user_first_name {
	    margin-right: 5px;
	}
	#user_first_name, #user_last_name {
	    width: ($setting-text-width - 10px) / 2;
	}

	.radio-name {
	    display: inline-block;
	    margin-top: ($deck-editor-field-height - $field-input-font-size) / 2;
	    font-weight: 600;
	    color: darken($setting-name-color, 25%);
	}
	// radio button
	input[type=radio] {
	    margin-left: 4px;
	    margin-right: 11px;
	    width: 12px;//$field-radio-size;
	    height: 12px;//$field-radio-size;
	    vertical-align: -10%;
	}

	// date selector

    }

    .setting-name {
	padding: 15px;
	padding-bottom: 10px;
	h4 {
	    font-weight: 600;
	    color: $setting-name-color;
	}
    }
    
    .setting-current-value {
//	font-weight: 600;
	width: $setting-item-width * 0.85;
	word-wrap: break-word;
	color: $setting-name-color;
	text-align: center;
	font-size: 18px;
	@include center-vertically-and-horizontally;
    }

    .settings-avatar {
    }

    .setting-action-btn {
	float: right;
	padding: 4px;
	font-size: 12px;
	border: none;
	color: $white;
	margin: 10px;
	@include border-radius(2px);
    }
    .setting-change-btn {
	position: absolute;
	right: 5px;
	bottom: 5px;
	background-color: $deck-submit-btn-color;
	&:hover {
	    background-color: darken($deck-submit-btn-color, 15%);
	}
    }
    $cancel-btn-color: #999999;
    .setting-cancel-btn {
	position: absolute;
	right: 5px;
	bottom: 5px;
	background-color: $cancel-btn-color;
	&:hover {
	    background-color: darken($cancel-btn-color, 15%);
	}
    }
}

.setting-item.dummy {
    opacity: 0;
}

#email-setting {
    .setting-current-value {
	word-break: break-all;
    }
}

#avatar-setting, #avatar-setting .setting-item-side {
    height: $setting-item-min-height * 2 + 15px;
    background-color: $setting-item-default-bg;
}

$avatar-size: 175px;
$change-avatar-btn-width: 120px;
$change-avatar-btn-color: lighten(#004CCC, 15%);
#avatar-setting {
    position: relative;
    .avatar-side {
	margin-left: ($setting-item-width - $avatar-size) / 2;
	@include border-radius($default-border-radius);
    }
    img {
	@include border-radius($default-border-radius);
	width: $avatar-size;
	height: $avatar-size;
    }
    #change-avatar-btn {
	position: absolute;
	bottom: 20px;
	width: $change-avatar-btn-width;
	border: none;
	height: 25px;
	margin-left: ($setting-item-width - $change-avatar-btn-width) / 2;
	@include border-radius(2px);
	&:hover {
	    background-color: darken($change-avatar-btn-color, 15%);
	    color: $white;
	}
    }
}

#setting-confirm-btn {
    @include center-vertically-and-horizontally;
    padding: 10px;
    font-size: 16px;
    background-color: $deck-update-btn-color;
    border: none;
    @include border-radius($default-border-radius);
    color: $white;
    font-weight: 600;
    &:hover {
	background-color: darken($deck-update-btn-color, 15%);
    }
}

#confirm-btns-wrapper {
    background-color: $setting-item-default-bg;
}

#birthday-setting {
    .setting-fields {
	width: $setting-text-width + 14px;
    }
}

$avatar-editor-width: 367px;
$avatar-editor-upload-height: 273px;
$avatar-editor-display-height: 300px;
#avatar-editors {
    width: $avatar-editor-width;
    height: $avatar-editor-upload-height;
    z-index: 10;
    @include center-vertically-and-horizontally;

    .image-editor, .image-editor-uploader {
	width: 100%;
	height: 100%;
    }

    .image-editor-display {
	height: $avatar-editor-display-height;
    }

    .avatar-editor-side {
	width: $avatar-editor-width;
	height: $avatar-editor-upload-height;
	.inner-editor-btn-row {
	    bottom: 7px;
	}
	.inner-edit-back-btn {
	    right: auto;
	    left: 20px;
	}
    }

    /**** loading gif ****/
    .waiting {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba($white, 0.8);

	img {
	    position: absolute;
	    @include center-vertically-and-horizontally;
	}
    }
}

#delete-account-wrapper {
    min-height: 80px;
    margin: auto;  
    button {
	@include center-vertically-and-horizontally;
	border: none;
	font-size: 14px;
	color: #FF0000;
    }
}
#delete-account-wrapper.www-subdomain {
    background-color: darken($www-bg-color, 5%);
    button {
	background-color: darken($www-bg-color, 5%);
    }
}
#delete-account-wrapper.x-subdomain {
    background-color: lighten($x-bg-color, 5%);
    button {
	background-color: lighten($x-bg-color, 5%);
    }
}
$delete-acc-width: 305px;
$delete-acc-height: 430px;
#delete-account-confirm {
    z-index: 5;
    @include center-vertically-and-horizontally(fixed);
    width: $delete-acc-width;
    min-height: $delete-acc-height;
    background-color: $white;
    @include box-sizing(border-box);
    padding: 20px;

    .cry-img-wrapper {
	width: 200px;
	height: 200px;
	margin: auto;
	img {
	    width: 200px;
	    height: 200px;
	}
    }
    h3 {
	font-size: 15pt;
	margin-top: 10px;
    }
    .checkbox-div {
	margin-top: 10px;
	font-size: 11pt;
    }
    .confirm-btn-row {
	width: $delete-acc-width - 40px;
	margin: auto;
	height: 45px;
	position: absolute;
	bottom: 15px;
	button, input[type=submit] {
	    padding: 10px;
	    width: 110px;
	    border: none;
	    font-size: 11pt;
	}
	#cancel-delete {
	    position: absolute;
	    right: 0px;
	    font-weight: 700;
	}
	#confirm-delete {
	    position: absolute;
	    left: 0px;
	    color: $decent-red;
	    cursor: pointer;
	    &:active {
		color: darken($decent-red, 10%);
	    }
	}
    }
}