.user-info-wrapper {
    width: 100%;
}

.user-info-profile {
    width: 100%;
    height: $user-info-profile-width;
    padding: 10px;
    position: relative;
    
    a {
	img {
	    width: $user-info-profile-width;
	    height: $user-info-profile-width;
	    @include box-shadow(0px, 0px, 5px, darken($bg-color, 25%));
	}
    }

    .follow-btn, .unfollow-btn {
	position: absolute;
	top: $user-info-profile-width / 2.5;
	left: $user-info-profile-width * 1.4;
	width: 65px;
	border: 2px solid $bg-color;
	@include border-radius(5px);
    }

    .follow-btn {
	padding: 10px;
	background-color: $decent-purple;
	color: $white;
	
	&:hover {
	    background-color: darken($decent-purple, 5%);
	}

	&:active {
	    background-color: darken($decent-purple, 10%);
	}
    }

    .unfollow-btn {
	padding: 10px 5px;
	background-color: $bg-color;
	color: $soft-black;
	
	&:hover {
	    background-color: darken($bg-color, 5%);
	}

	&:active {
	    background-color: darken($bg-color, 10%);
	}
    }
}

.user-info-item {
    width: 85%;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 700;
    word-break: break-all;

    a {
	color: $soft-black;
    }
}

.user-info-short-stats {
    width: 100%;
    min-height: 70px;
    padding: 10px;
    text-align: left;
    
    a {
	width: 40%;
	height: 40px;
	float: left;
	margin-bottom: 10px;
	margin-right: 5px;
	cursor: pointer;
	display: block;
	strong {
	    font-size: 18px;
	}
	span {
	    font-size: 11px;
	    color: $soft-black;
	}
	&:hover {
	    color: $decent-blue;
	}	
    }
}

