.card-wrapper {
    width: $default-card-width;
    height: $default-card-height;
    float: left;
    margin: $cards-gap / 2;
}

.card {
    width: $default-card-width;
    height: $default-card-height;
    cursor: pointer;
    .card-front {
	width: 100%;
	height: 100%;
	@include border-radius(5px);
    }

    .card-back {
	width: 100%;
	height: 100%;
	@include border-radius(5px);
    }
}