@import "global";
@import "cards.scss";

body, .container {
    @media screen {
	min-width: $min-screen-width;
    }
}

.main-content-wrapper {
    width: $center-content-width + $side-panel-width * 2;
    min-height: $center-content-min-height;
    margin: auto;
    //@include box-shadow(0px, -550px, 100px, $soft-black)
}

.left-panel-wrapper, .center-content-wrapper, .right-panel-wrapper {
    float: left;
}

.left-panel-wrapper, .right-panel-wrapper {
    width: $side-panel-width - 1px;
    min-height: 330px;
}

.left-panel-wrapper {
    border-left: 1px solid $theme-purple;
}

.right-panel-wrapper {
    border-right: 1px solid $theme-purple;
}

.deck-owner-info {
    
}

.center-content-wrapper {
    width: $center-content-width;
    min-height: $center-content-min-height;
    background-color: lighten($bg-color, 7%);
    @include box-shadow(0px, 0px, 20px, darken($bg-color, 30%));
}

.deck-show-header {
    @include background-image-gradient("/assets/tmp/deck-wall.png");
    background-repeat: no-repeat;
    @include background-size(cover);

    width: 100%;
    height: $deck-header-height;
    background-color: $theme-purple;
    position: relative;

    * {
	font-family: Trebuchet MS, sans-serif;
    }

    h1, h2, h3, h4, h5, h6, h7 {
	font-weight: 500;
    }

    h1 {
	font-size: 28px;
	padding: 10px 20px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	color: $white;
    }
}

.deck-info-header {
    position: absolute;
    top: 0px;
    right: 0px;
    min-width: $deck-header-info-width;
    height: $deck-header-info-height;
    background-color: $bg-color;
    margin: 7px;
    p {
	font-size: $deck-header-info-height - 13px;
	padding: 5px 5px 5px 5px;
	color: $theme-purple;
	float:left;
	.fa {
	    font-size: 17px;
	    font-family: FontAwesome; /* not overriding */
	}
    }
}

.deck-description {
    width: 75%;
    margin: 10px auto;
    background-color: $bg-color;
    @include border-radius(15px);
    @include box-shadow(0px, 3px, 5px, darken($bg-color, 15%));

    p {
	padding: 7px 10px;
	font-size: 15px;
    }
}

.cards-display-wrapper {
    float: left;
    width: 100%;
    min-height: $cards-display-min-height;
}

.card-wrapper {
}