@import "global";
@import "cards.scss";

body, .container {
    @media screen {
	min-width: $min-screen-width;
    }
}

.main-content-wrapper {
    width: $center-content-width + $side-panel-width * 2;
    min-height: $center-content-min-height;
    margin: auto;
    //@include box-shadow(0px, -550px, 100px, $soft-black)
}

.left-panel-wrapper, .center-content-wrapper, .right-panel-wrapper {
    float: left;
}

.left-panel-wrapper, .right-panel-wrapper {
    margin-top: 20px;
    width: $side-panel-width;
    min-height: 300px;
}

.center-content-wrapper {
    width: $center-content-width;
    min-height: $center-content-min-height;
    background-color: lighten($bg-color, 7%);
    @include box-shadow(0px, 0px, 20px, darken($bg-color, 30%));
}

.deck-show-header {
    width: 100%;
    height: $deck-header-height;
    background-color: $decent-orange;
    margin-bottom: $margin-between-rows;
    position: relative;

    * {
	font-family: Trebuchet MS, sans-serif;
    }

    h1, h2, h3, h4, h5, h6, h7 {
	font-weight: 500;
    }

    h1 {
	font-size: 30px;
	position: absolute;
	padding: 10px 20px;
	left: 0px;
	bottom: 0px;
    }
}

.cards-display-wrapper {
    float: left;
    width: 100%;
    min-height: $cards-display-min-height;
}

.card-wrapper {
    margin-bottom: $margin-between-rows;
}