@import "global";

$left-gap: 80px;
$deck-info-panel-width: 190px;
$deck-stroke: #EFEFEF;
$deck-info-panel-padding: 20px;
$deck-title-color: #808080;
$deck-descp-color: #999999;
$deck-stats-color: #B3B3B3;
$deck-author-avatar-size: 33px;
$deck-author-name-font-size: 14px;
$deck-main-contents-width: $nav-width + 2 * $nav-padding;
$deck-cards-container-width: $deck-main-contents-width - $deck-info-panel-width - $left-gap;
.main-contents-wrapper {
    width: $deck-main-contents-width;
    left: 0px;
}
.left-contents-wrapper, .deck-info-panel {
    width: $deck-info-panel-width;
}

.deck-info-panel {
    background-color: $white;
    @include border-radius($default-border-radius);
    border: 1px solid $deck-stroke;
    padding: $deck-info-panel-padding;
    @include box-sizing(border-box);

    .deck-title {
	color: $deck-title-color;
	white-space: word-wrap;
	margin-bottom: 16px;
    }

    .deck-descp {
	white-space: word-wrap; // good?
	color: $deck-descp-color;
	margin-bottom: 16px;
    }

    .deck-stats {
	overflow: auto;
	margin-bottom: 16px;
	.deck-stat-item:first-child {
	    margin-right: 45px;
	}
	.deck-stat-item {
	    float: left;
	    color: $deck-stats-color;
	}
	.deck-stat-num {
	    font-weight: 700;
	    font-size: 16px;
	}
	.deck-stat-for {
	    font-size: 11px;
	}
    }
    .deck-author-info {
	.deck-author-profile, .deck-author-name {
	    float: left;
	}
	.deck-author-profile {
	    width: $deck-author-avatar-size;
	    height: $deck-author-avatar-size;
	    img {
		width: $deck-author-avatar-size;
		height: $deck-author-avatar-size;
		@include border-radius(50%);
	    }
	}
	.deck-author-name {
	    font-weight: 600;
	    font-size: $deck-author-name-font-size;
	    margin-left: 13px;
	    margin-top: ($deck-author-avatar-size - $deck-author-name-font-size ) / 2;
	    color: $deck-title-color;
	}
    }
}

.right-contents-wrapper, #deck-cards-container {
    width: $deck-cards-container-width;
    margin-left: $left-gap;
}

#deck-cards-container {

}