@import "variables";
@import "_mixins";

@font-face {
    font-family: 'MyriadPro';
    src: font-url("MyriadPro-Regular.otf") format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: font-url("MyriadPro-Semibold.otf") format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: font-url("MyriadPro-Bold.otf") format('opentype');
    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    &:hover {

    }
}

input {
    outline: none;
}

body {
    background-color: $bg-color;
    font-family: 'MyriadPro', 'Arial', sans-serif;
    font-size: $default-font-size;
    
    @media screen {
	min-width: 900px;
    }
}

.bold {
    font-weight: 700;
}

.container {
    @include content-wrapper(100%, 95%);
    
    @media screen {
	min-width: 900px;
    }
}

button {
    cursor: pointer;
}

button, input[type="button"], input[type="submit"] {
    -webkit-appearance: none;
}

.glass-overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: $light-grey;
    z-index: 3;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.dark-overlay {
    //display: none;
    display: block; // use hidden class to control display or not
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: darken($darker-grey, 20%);
    z-index: 3;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

button:disabled {
    cursor: default;
}

@include placeholder {
    color: $grey-black;
}

// A bit different from hidden,
// which uses visibility:none.
// This does not allocate space
.not-visible {
    visibility: hidden;
}

.hidden {
    display: none;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/* Flash alerts */
.fl-alerts, .fl-alert {
    width: 512px;
    min-height: 15px;
    font-size: 15px;
}

.fl-alerts {
    position: absolute;
    top: 7px;
    z-index: 6;
    /* center it */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.fl-alert {
    padding: 12px;
    @include border-radius($default-border-radius);
    margin-bottom: 5px;
    
    a {
	color: $decent-purple;
	&:hover {
	    text-decoration: underline;
	}
    }
}

.alert-error {
    background-color: $alert-red;
    color: darken($alert-red, 40%);
}

.alert-success {
    background-color: $success-green;
    color: darken($success-green, 40%);
}

.alert-warning {
    background-color: lighten($gold, 30%);
    color: darken($gold, 10%);
}

.alert-info {
    border: 1px solid $darker-grey;
    background-color: #EFEFEF;
    color: #888888;
}

/* LOWER LEFT */
$info-height: 20px;
$info-width: auto;
$info-toggle-size: 40px;
.lower-right-info {
    width: $info-width;
    height: $info-height;
    position: fixed;
    left: 3px;
    bottom: 0;
    
    .info-item:first-child {
	border-left: none;
    }
    .info-item {
	float: left;
	border-left: 1px solid $healthy-black;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
	color: $healthy-black;
    }
    #feedback-btn {
	&:hover {
	    text-decoration: underline;
	    cursor: pointer;
	}
    }
}