@include font-face("Nunito", "Nunito-Regular", 500, normal, eot woff ttf svg);
@include font-face("Nunito", "Nunito-Bold", 700, normal, eot woff ttf svg);
@include font-face("Nunito", "Nunito-ExtraBold", 900, normal, eot woff ttf svg);

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    &:hover {

    }
}

input {
    outline: none;
}

body {
    background-color: $bg-color;
    font-family: 'Arial', sans-serif;
    font-size: $default-font-size;
    
    @media screen {
	min-width: 900px;
    }
}

.bold {
    font-weight: 700;
}

.container {
    @include content-wrapper(100%, 95%);
    
    @media screen {
	min-width: 900px;
    }
}

button {
    cursor: pointer;
}

button, input[type="button"], input[type="submit"] {
    -webkit-appearance: none;
}

.glass-overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: $light-grey;
    z-index: 3;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

button:disabled {
    cursor: default;
}

@include placeholder {
    color: $grey-black;
}

// A bit different from hidden,
// which uses visibility:none.
// This does not allocate space
.not-visible {
    visibility: hidden;
}

.hidden {
    display: none;
}
