@include font-face("Nunito", "Nunito-Regular", 500, normal, eot woff ttf svg);
@include font-face("Nunito", "Nunito-Bold", 700, normal, eot woff ttf svg);
@include font-face("Nunito", "Nunito-ExtraBold", 900, normal, eot woff ttf svg);

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $theme-purple;

    &:hover {
	color: $decent-blue;
    }
}

input {
    outline: none;
}

body {
    background-color: $bg-color;
    font-family: 'Arial', sans-serif;
    font-size: $default-font-size;
    min-width: 900px;
}

.bold {
    font-weight: 700;
}

.hidden {
    visibility: hidden;
}

.decent-orange {
    background-color: $decent-orange;
}

.decent-blue {
    background-color: $decent-blue;
}

.soft-blue {
    background-color: $soft-blue;
}