/* Colors */
$white: #FFF;
$decent-blue: #336699;
$decent-purple: #661133;
$gold: #FFD119;
$light-grey: #EFEFEF;
$soft-black: #2B2B2B;

/* Theme colors */
$bg-color: #EDEDED;
$theme-purple: #661155;
$theme-pink: #FFCCCC;

$default-font-size: 13px;


@include font-face("Nunito", "Nunito-Regular", 500, normal, eot woff ttf svg);
@include font-face("Nunito", "Nunito-Bold", 700, normal, eot woff ttf svg);
@include font-face("Nunito", "Nunito-ExtraBold", 900, normal, eot woff ttf svg);

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $theme-purple;

    &:hover {
	color: $decent-blue;
    }
}

input {
    outline: none;
}

body {
    background-color: $bg-color;
    font-family: 'Arial', sans-serif;
    font-size: $default-font-size;
}

.bold {
    font-weight: 700;
}