// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "_mixins";
@import "main";

$email-form-width: 420px;
$email-form-height: 230px;

/* For reset password */
.center-form-wrapper {
    width: $email-form-width;
    height: $email-form-height;
    margin: auto;
    margin-top: 10%;
    position: relative;
    padding: 30px;
    padding-top: 50px;
    @include box-sizing(border-box);
    @include border-radius($default-border-radius);
    
    form {
	width: $email-form-width * 0.8;
	margin: auto;

	input[type=text], input[type=password] {
	    background-color: #F7F7F7;
	    border: 2px solid $darker-grey;
	    height: 40px;
	    width: $email-form-width * 0.8;
	    margin: auto;
	    @include border-radius($default-border-radius);
	    font-size: 18px;
	    padding-left: 5px;
	}
	input[type=submit], a {
	    font-size: 16px;
	}

	input[type=submit] {
	    padding: 10px;
	    border: none;
	    @include border-radius($default-border-radius);
	}
    }
}
.center-form-wrapper.www-subdomain {
    background-color: lighten($www-bg-color, 10%);
}
.center-form-wrapper.x-subdomain {
    background-color: lighten($x-bg-color, 10%);
}

#reset-email-form-wrapper {
    
    form {
	input[type=submit] {
	    margin-top: 25px;
	    background-color: $soft-green;
	    color: $white;
	    float: right;
	    @include decent-interact-bg($soft-green);
	}

	a {
	    display: block;
	    float: left;
	    margin-top: 30px;
	    color: $decent-purple;
	    &:hover {
		text-decoration: underline;
	    }
	}
    }

    .after-send {
	h3 {
	    font-weight: 600;
	    text-align: center;
	    color: darken($darker-grey, 40%);
	    margin-top: 25px;
	    font-size: 17px;
	}

	a {
	    display: block;
	    width: 85px;
	    margin: auto;
	    margin-top: 15px;
	    font-size: 15px;
	}
    }
}

#reset-password-form-wrapper {
    form {
	#re_password {
	    margin-top: 7px;
	}

	input[type=submit] {
	    margin-top: 10px;
	    float: right;
	    background-color: $healthy-black;
	    color: $white;
	    &:hover {
		background-color: lighten($healthy-black, 20%);
	    }
	    &:active {
		background-color: lighten($healthy-black, 25%);
	    }
	}
    }
}

$document-width: 640px;
.document-wrapper {
    width: $document-width;
    margin: auto;
    background-color: $white;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 100px;
    
    .document {
	h1 {
	    font-size: 35px;
	    font-weight: 400;
	    margin-top: 25px;
	    margin-bottom: 25px;
	}
	h2 {
	    font-size: 23px;
	    font-weight: 400;
	    margin-top: 15px;
	    margin-bottom: 15px;
	}
	h3 {
	    font-size: 19px;
	    font-weight: 400;
	    margin-top: 10px;
	    margin-bottom: 10px;
	}
	ul {
	    padding-left: 20px;
	    margin-top: 4px;
	}
	p {
	    font-size: 14px;
	    margin-top: 8px;
	}
	a {
	    color: $decent-blue;
	    &:hover {
		text-decoration: underline;
	    }
	}
    }

    #about-koolio {
	p, b {
	    font-size: 12pt;
	}
	.fb-like {
	    margin-left: 6px;
	}
    }
}