@import "global";
@import "loading_gif";

$add-card-btn-radius: 30px;
$home-card-editor-width: 750px;
$home-card-editor-height: 480px;

.add-card-btn-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 3; /* below glass layer, above cards */
}

.add-card-btn {
    background-color: $decent-blue;
    width: $add-card-btn-radius * 2;
    height: $add-card-btn-radius * 2;
    font-size: 25px;
    @include border-radius($add-card-btn-radius);
    border: none;
    color: $white;
    
    &:hover{
	background-color: $grey-blue;
    }
}

.home-card-editor-container {
    display: none;
    width: $home-card-editor-width;
    height: $home-card-editor-height;
    position: fixed;
    z-index: 10; // glass-overlay has z-index 3
    //left: 0;
    //right: 0;
    @include center-vertically-and-horizontally(fixed);
    @include border-radius(5px);
    @include mobile-landscape-and-below {
	width: 100%;
	height: 100%;
    }

    background-color: $bg-color;
}

/* Home cards */
$home-card-width: 250px;
$home-card-min-height: $home-card-width;
$home-card-margin: 15px;
/*** TEXT ***/
$text-body-font-size: 21px;
$text-title-font-size: 24px;
$text-default-bg: #FCFCFC;
$text-default-font-color: #808080;

.home-card {
    width: $home-card-width;
    min-height: $home-card-min-height;
    max-height: $home-card-min-height + 50px;
    margin-bottom: 30px;
    float: left;

    .flipper-front, .flipper-back {
	padding: 20px;
	@include box-sizing(border-box);
	width: $home-card-width;
	min-height: $home-card-min-height;
	max-height: $home-card-min-height + 50px;
	overflow: hidden;
	@include border-radius(5px);
	background-color: $text-default-bg;
	color: $text-default-font-color;
    }
 
    /* text card */
    .card-text-body {
	font-size: $text-body-font-size;
    }
    .card-text-title h1 {
	font-size: $text-title-font-size;
	padding-bottom: 15px;
    }
    /* end text card */

    /* img card */
    $img-min-width: 50%;
    $img-min-height: 50%;
    $img-descp-font-size: 21px;
    .img-type-side {
	padding: 0px;
	background-color: $healthy-black;
	
	.card-img-wrapper {
	    width: 100%;
	    height: 100%;
	    @include box-sizing(border-box);
	    display: inline-block;
	    position: relative;

	    .card-img img {
		@include box-sizing(border-box);
		//min-width: $img-min-width;
		width: 100%;
		//min-height: $img-min-height;
		height: 100%;
	    }

	    .card-img-descp {
		position: absolute;
		bottom: 0px;
		width: 100%;
		padding: 5px;
		font-size: $img-descp-font-size;
		color: $white;
		@include linear-gradient(to bottom, rgba(0,0,0,0), $healthy-black);
		@include box-sizing(border-box);
	    }
	}
    }
    /* end img card */
}
/* Recommend-contents regionr */
#recommended-contents-wrapper {
    width: 3 * $home-card-width + $home-card-margin * 6;
    min-height: $home-card-min-height;
    position: relative;
    top: 40px;
    left: 10%;
    @include tablet_landscape_and_below {
	left: 30px;
    }
}