/*
  This stylesheet currently has the style for all the parts in
  the home page.
 */

@import "variables";
@import "_mixins";
@import "main";

.add-card-btn-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 3; /* below glass layer, above cards */
}

.add-card-btn {
    font-family: "Arial", sans-serif;
    width: $add-card-btn-radius * 2;
    height: $add-card-btn-radius * 2;
    font-size: 25px;

    // color, background color, hover and border handled in subdomain styles
    @include border-radius($add-card-btn-radius);
}

.add-card-btn.www-subdomain {
    background-color: $add-card-btn-color;
    border: 1px solid #FFFFFF;
    color: $white;
    &:hover{
	background-color: darken($add-card-btn-color, 10%);
    }
    
    &:disabled {
	background-color: lighten($add-card-btn-color, 15%);
    }
}
.add-card-btn.x-subdomain {
    $add-card-btn-color: #e60000;
    background-color:  $add-card-btn-color;
    color: $healthy-black;
    border: 1px solid $decent-purple;
    &:hover{
	color: $white;
    }
    
    &:disabled {
	background-color: lighten($add-card-btn-color, 15%);
    }
}

.home-card-editor-container {
    display: none;
    width: $home-card-editor-width;
    height: $home-card-editor-height;
    position: fixed;
    z-index: 10; // glass-overlay has z-index 3

    // background color handled by subdomain styles

    @include center-vertically-and-horizontally(fixed);
    @include border-radius($default-border-radius);
    @include mobile-landscape-and-below {
	width: 100%;
	height: 100%;
    }
}
.home-card-editor-container.www-subdomain {
    background-color: $www-bg-color;
}
.home-card-editor-container.x-subdomain {
    background-color: $x-bg-color;
}

.card-side {
    min-height: $home-card-min-height;
    max-height: $home-card-max-height;
}

$info-toggle-size: 80px;
.home-card {
    width: $home-card-width;
    min-height: $home-card-min-height;
    max-height: $home-card-max-height;
    margin-bottom: 30px;
    float: left;

    .card-overlay {
	width: $home-card-width;
	height: $home-card-min-height + 50px;
	background-color: rgba($healthy-black, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	@include border-radius($default-border-radius);
    }
    .card-overlay.selected {
	background-color: rgba(99, 166, 164, 0.4);
    }

    .flipper-front, .flipper-back {
	padding: 20px;
	@include box-sizing(border-box);
	width: $home-card-width;
	overflow: hidden;
	@include border-radius($default-border-radius);
	background-color: $text-default-bg;
	color: $text-default-font-color;
    }
    
    /* info toggle & quick like btn*/
    .info-toggle-wrapper, .quick-card-like-btn-wrapper, .zoom-card-btn-wrapper {
	width: $info-toggle-size;
	height: $info-toggle-size;
	position: absolute;	
	z-index: 100;
	// initial opacity is 0
	opacity: 0;
    }
    .info-toggle-wrapper {
	right: 0px;
	bottom: 0px;
	@include linear-gradient(to bottom right, 
				 rgba(0,0,0,0), 
				 rgba(0,0,0,0), 
				 rgba(lighten($healthy-black, 10%), 0.5));
	.info-toggle {
	    text-align: right;
	    right: 10px;
	    color: $white;
	    cursor: pointer;
	    font-size: 30px;
	    bottom: -3px;
	}
    }
    .quick-card-like-btn, .info-toggle, .zoom-card-btn {
	position: absolute; 
    }

    .quick-card-like-btn-wrapper {
	left: 0px;
	bottom: 0px;
	.quick-card-like-btn {
	    left: 10px;
	    color: rgba($info-font-color, 0.7);
	    cursor: pointer;
	    font-size: 22px;
	    bottom: 0px;
	    &:hover {
		color: rgba(lighten($liked-color, 20%), 1.0);
	    }
	}
	.quick-card-like-btn.liked {
	    color: rgba($liked-color, 0.7);
	    &:hover {
		color: rgba($liked-color, 1.0);
	    }
	}
    }

    /* zoom btn */
    .zoom-card-btn-wrapper {
	right: 0px;
	top: 0px;
	@include linear-gradient(to top right, 
				 rgba(0,0,0,0), 
				 rgba(0,0,0,0), 
				 rgba(lighten($healthy-black, 20%), 0.5));
	.zoom-card-btn {
	    font-size: 22px;
	    right: 10px;
	    top: 8px;
	    cursor: pointer;
	    color: darken($light-cyan, 5%);
	}
    }
    /* end zoom btn */
 
    /* text card */
    .card-text-body {
	font-size: $text-body-font-size;
	// allow \n as line breaks
	white-space: pre-wrap;//pre-line;
	// wrap line:
	margin-top: -$text-body-font-size*2.5; // needs to compensate the line-height at the
	                   // top due to white-space: pre-line
	
	a {
	    word-break: break-all;
	    color: $decent-blue;
	    &:hover {
		text-decoration: underline;
	    }
	}
    }
    .card-text-body.no-title {
	margin-top: -$text-body-font-size*3.2; // needs to compensate the line-height at the
	                   // top due to white-space: pre-line
    }
    .card-text-title h1 {
	font-size: $text-title-font-size;
	padding-bottom: 10px;
    }
    .text-type-side {
	padding: 17px;
	border: 1px solid $deck-stroke;
    }
    /* end text card */

    /* img card */
    .img-type-side {
	padding: 0px;
	background-color: $white;//$healthy-black;
	
	.card-img-wrapper {
	    width: $home-card-width;
	    height: 100%;
	    @include box-sizing(border-box);
	    display: inline-block;
	    position: relative;

	    img {
		@include box-sizing(border-box);
		//min-width: $img-min-width;
		width: $home-card-width;
		//min-height: $img-min-height;
		height: 100%;
	    }

	    .card-img-descp {
		position: absolute;
		bottom: 0px;
		width: $home-card-width;
		padding: 5px;
		padding-top: 25px;
		padding-bottom: 10px;
		font-size: $img-descp-font-size;
		color: $img-descp-color;
		//background-color: rgba(0,0,0,0.3);
		@include linear-gradient(to bottom,
					 rgba(0,0,0,0.0),
					 rgba(0,0,0,0.6),
					 rgba(0,0,0,0.7));
		@include box-sizing(border-box);
	    }
	}
    }
    /* end img card */

    /* video card */
    .video-type-side {
	padding: 0px;
	background-color: lighten($healthy-black, 15%);

	.card-video-wrapper {
	    width: $home-card-width;
	    height: $home-card-width;
	    @include box-sizing(border-box);
	    display: inline-block;
	    position: relative;

	    .notice.www-subdomain {
		position: absolute;
		left: 0px;
		bottom: 0px;
		background-color: darken($grey-blue, 10%);
		color: #FFF;
		z-index: 3;
		@include box-sizing(border-box);
		padding-top: 4px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 2px;
		font-size: 17px;
		@include box-shadow(0px, 0px, 15px,$darker-grey);
	    }
	    .notice.x-subdomain {
		position: absolute;
		left: 0px;
		bottom: 0px;
		background-color: #E60000;
		color: $white;
		z-index: 3;
		@include box-sizing(border-box);
		padding-top: 4px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 2px;
		font-size: 17px;
		@include box-shadow(0px, 0px, 15px,$healthy-black);
	    }
	}

	.video-no-flip-region  {
	    width:100%; 
	    position: absolute; 
	    bottom: 0; 
	    height: 50px; 
	}

	.quick-card-like-btn-wrapper {
	    top: 0;
	    bottom: auto;
	    .quick-card-like-btn {
		top: 10px;
		bottom: auto;
	    }
	}
    }
}
#home-main-contents-wrapper, #explore-main-contents-wrapper {
    width: $home-total-width;
    margin: auto;
    position: relative;
    top: 40px;
    @include tablet-portrait-and-below {
	left: -10px;
	width: $home-total-width - $home-card-width - 2*$home-card-margin;
    }
}

/* Recommend-contents region */
#recommended-contents-wrapper {
    width: $recommended-contents-width;
    min-height: $home-card-min-height;
    position: absolute;
    left: 0;
    top: 0;
    //left: 10%;
    @include tablet-portrait-and-below {
	left: 30px;
	width: $recommended-contents-width - $home-card-width - 2*$home-card-margin;
    }
}

// allow 4 columns
$explore-width: $recommended-contents-width + $home-card-width + 2 * $home-card-margin;
#explore-main-contents-wrapper {
    #recommended-contents-wrapper {
	width: $explore-width;
	position: relative;
	margin: auto;
    }
}
#recommended-contents-wrapper.cards-show {
    width: $explore-width !important;
}
$explore-deck-width: $deck-width * 1.25;
$expl-tiny-card-size: ($explore-deck-width - 3 * 5px) / 2;
#recommended-contents-wrapper.decks-show {
    width: $explore-deck-width * 4 + $deck-display-gap * 8.2 !important;
    .deck-square {
	width: $explore-deck-width;
	height: $explore-deck-width + 30px;
	.four-cards {
	    width: 2*$expl-tiny-card-size + 20px;
	    margin: 0;
	    min-height: $expl-tiny-card-size + 5px;
	    .scaled-card {
		width: $expl-tiny-card-size;
		height: $expl-tiny-card-size;
		img {
		    width: $expl-tiny-card-size;
		    height: $expl-tiny-card-size;
		}
	    }
	}	
    }
}


#home-side-contents-wrapper {
    width: $side-contents-width;
    overflow: auto;
    position: absolute;
    right: 0px;
    top: 0;
    @include tablet-portrait-and-below {
	width: $side-contents-width * 0.8;
    }

    .side-content-part {
	min-height: 10px;
	background-color: $white;
	padding: 10px;
	padding-left: 15px;
	@include border-radius($default-border-radius);
	margin-bottom: 20px;
	border: 1px solid $deck-stroke;
	h3 {
	    color: $deck-title-color;
	    padding-top: 10px;
	    padding-bottom: 15px;
	}
	i {
	    color: $deck-descp-color;
	}
    }
}

#recommended-contents-wrapper, #home-side-contents-wrapper {
    
}

/* No content msg */
$msg-item-height: 50px;
$msg-title-height: 60px;
$no-content-msg-height: 3*$msg-item-height + $msg-title-height;
.no-content-msg.www-subdomain {
    $bg-color: $www-bg-color;

    width: 500px;
    height: $no-content-msg-height;
    background-color: darken($bg-color, 5%);
    position: absolute;
    @include center-vertically-and-horizontally;
    top: 150px;
    @include border-radius($default-border-radius);
    .msg-title {
	height: $msg-title-height;
	text-align: center;
	font-size: 35px;
	color: darken($bg-color, 30%);
	padding: 15px;
	@include box-sizing(border-box);
	font-weight: 600;
    }
    .msg-suggestions {
	height: 80%;
	ul {
	    list-style-type: none;
	    li {
		height: $msg-item-height;
		font-weight: 600;
		padding: 10px;
		font-size: 22px;
		color: darken($bg-color, 30%);
		@include box-sizing(border-box);
		padding-left: 30px;
		.fa {
		    margin-left: 5px;
		}
		&:hover {
		    color: darken($bg-color, 50%);
		    cursor: pointer;
		}
	    }
	    li.no-effect {
		&:hover {
		    color: darken($bg-color, 30%);
		    background-color: darken($bg-color, 5%);
		    cursor: default;
		}
	    }
	}
    }
}
/* Duplicate .no-content-msg for x subdomain */
.no-content-msg.x-subdomain {
    $bg-color: lighten($x-bg-color, 25%);

    width: 500px;
    height: $no-content-msg-height;
    background-color: darken($bg-color, 5%);
    position: absolute;
    @include center-vertically-and-horizontally;
    top: 150px;
    @include border-radius($default-border-radius);
    .msg-title {
	height: $msg-title-height;
	text-align: center;
	font-size: 35px;
	color: darken($bg-color, 30%);
	padding: 15px;
	@include box-sizing(border-box);
	font-weight: 600;
    }
    .msg-suggestions {
	height: 80%;
	ul {
	    list-style-type: none;
	    li {
		height: $msg-item-height;
		font-weight: 600;
		padding: 10px;
		font-size: 22px;
		color: darken($bg-color, 30%);
		@include box-sizing(border-box);
		padding-left: 30px;
		.fa {
		    margin-left: 5px;
		}
		&:hover {
		    color: darken($bg-color, 50%);
		    cursor: pointer;
		}
	    }
	    li.no-effect {
		&:hover {
		    color: darken($bg-color, 30%);
		    background-color: darken($bg-color, 5%);
		    cursor: default;
		}
	    }
	}
    }
}
/* End duplication of .no-msg-content for x subdomain */
.no-content-msg.alone {
    position: absolute;
    @include center-vertically-and-horizontally;
}

/* Zoom card display (image or video) */
#card-zoom-display-wrapper {
    @include center_vertically_and_horizontally(fixed);
    z-index: 6;

    #card-zoom-display {
	img {
	    max-width: 2.5 * $home-card-width;
	    max-height: 2.5 * $home-card-width;
	    min-height: 1.5 * $home-card-width;
	}
	video {
	    max-width: 2.5 * $home-card-width;
	    max-height: 2.5 * $home-card-width;
	    min-height: 1.5 * $home-card-width;
	}
    }
}
/* End zoom card display */


/* info panels */
#like-comment-panel, #deck-cards-panel {
    width: $home-card-width;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: $home-card-width;
    background-color: $info-panel-bg;
    @include border-radius($default-border-radius);

    #like-card-btn.disabled {
	color: #A4A4A4; // grey
	cursor: default;
    }

}
#like-comment-panel {
    min-height: 40px + $comment-box-height;
    overflow: hidden;
    padding: 20px 0px;

    .comments-list {
	overflow: hidden;
	min-height: 40px;
	padding: 10px 0px;

	.comment {
	    min-height: 40px;
	    overflow: hidden;
	    padding-top: 10px;
	    position: relative;

	    .comment_author_name {
		margin-right: 5px;
		float: left;
	    }

	    .comment_content {
		color: #000;
		font-weight: 500;
	    }
	    
	    .comment-likes {
		margin-top: 5px;
		div {
		    float: left;
		    margin-right: 5px;
		}
	    }

	    .comment_author_name, .comment_content, .comment-likes {
		margin-left: 5px;
	    }

	    .like-comment-btn {
		&:hover {
		    color: lighten($liked-comment-color, 10%);
		    cursor: pointer;
		}
	    }

	    .like-comment-btn.liked, .n_comment_likes.liked {
		color: $liked-comment-color;
	    }
	}
    }
    
    $comment-box-height: 30px;
    .like-comment {
	width: 100%;
	@include box-sizing(border-box);
	padding-left: 15px;
	
	div {
	    display: inline;
	    margin-left: 10px;
	    @include box-sizing(border-box);
	    font-size: 15px;
	    color: $info-font-color;

	    // the like button
	    i.fa-heart {
		&:hover {
		    color: lighten($liked-color, 20%);
		    cursor: pointer;
		}
	    }
	    #n_likes.liked, i.fa-heart.liked {
		color: $liked-color;
	    }
	}	
    }

    .comments-list {
	width: 80%;
	margin: auto;
	color: $info-font-color;
	font-weight: 700;
    }

    .comment-box {
	width: 80%;
	margin: auto;
	height: $comment-box-height;
	textarea, input[type=text] {
	    display: block;
	    width: 100%;
	    height: $comment-box-height;
	    @include box-sizing(border-box);
	    resize: none;
	    padding: 5px;
	    margin-top: 10px;
	    font-family: "Arial", sans-serif;
	    background-color: #F2F2F2;
	    font-size: 14px;
	    border: 2px solid $darker-grey;
	    overflow:hidden;  // no scrollbar
	}
    }
}

/* Deck cards panel */
#deck-cards-panel {
    min-height: $user-deck-height;
    overflow: hidden;
    padding: $deck-cards-padding-top 0px;

    .user-deck {
	width: $home-card-width * 0.75;
	margin: auto;
	@include box-sizing(border-box);
	height: $user-deck-height;

	.left, .right {
	    height: $user-deck-height;
	}
	
	.username, .decktitle {
	    font-size: 14px;
	    padding-left: 10px;
	    padding-top: 2px;
	}
	.username {
	    color: $info-font-color;
	    font-weight: 700;
	}
    }

    // follow button on deck panel
    .follow-btn {
	width: 20px;
	height: 20px;
	font-size: 14px;
	margin-left: 5px;
	background-color: lighten($decent-blue, 30%);
	&:hover {
	    background-color: lighten($decent-blue, 20%);
	}
    }
    .follow-btn.followed {
	background-color: lighten($yummy-green, 10%);
	&:hover {
	    background-color: lighten($yummy-green, 5%);
	}
    }

    // favorite btn
    button.deck-favorite-btn {
	padding: 3px;
	position: absolute;
	right: 10px;
	bottom: 7px;
    }

    /* The more cards portion uses the deck partial, but it
       modifies its style */
    $tiny-card-size: $home-card-width * 0.9 / 2 - 5px;
    #more_cards_in_deck {
	width: $home-card-width * 0.9;
	margin: auto;
	margin-top: 20px;
	font-weight: 700;
	color: $info-font-color;

	.one-deck {
	    width: 2*$tiny-card-size + 20px;
	    background-color: transparent; // no background color
	    min-height: 50px;
	    padding: 0;
	    float: none;
	    border: none;
	    &:hover {
		opacity: 0.8;
		cursor: pointer;
	    }

	    h3, .deck-gear, .share-info { display: none; } // do not show the title and gear
	    .four-cards {
		width: 2*$tiny-card-size + 20px;
		margin: 0;
		min-height: $tiny-card-size;
		.scaled-card {
		    width: $tiny-card-size;
		    height: $tiny-card-size;
		    img {
			width: $tiny-card-size;
			height: $tiny-card-size;
		    }
		}
	    }
	}
    }
}
.noe-deck.explore-item {
    width: $home-card-width;
    height: $home-card-width;
}
/* end of deck cards info */

/* One liner info that has a profile pic */
/* The main container of the info has certain dimension already */
.slim-info {
    .left {
	width: 20%;
    }
    .right {
	width: 78%;
	margin-left: 2%;
    }
    .left, .right {
	float: left;
    }
    .profile {
	img {
	    width: 38px;
	    height: 38px;
	    @include border-radius(50%);
	}
    }
}

// For overflow content
.spoiler {
    @include linear-gradient(to bottom, 
			     rgba(0,0,0,0), 
			     rgba(0,0,0,0),
			     rgba(0,0,0,0),
			     rgba(0,0,0,0),
			     rgba(0,0,0,0),
			     rgba(0,0,0,0),
			     rgba(0,0,0,0),
			     rgba(darken($darker-grey,10%), 0.5));
}

////////////////////////
//// PROFILE PAGE //////
////////////////////////
.main-contents-wrapper {
    width: $whole-contents-width;
    margin: auto;
    min-height: 100px;
    position: relative;
    left: $whole-contents-left-shift;
    top: 40px;
    @include tablet-landscape-only {
	width: 90%;
	left: 20px;
    }
    @include tablet-portrait-and-below {
	left: $whole-contents-left-shift + 25px;
	width: 85%;
    }
}

.left-contents-wrapper, .right-contents-wrapper {
    float: left;
    min-height: 100px;
}

.left-contents-wrapper {
    width: $left-contents-width;
    @include tablet-landscape-only {
	margin-right: 40px;
    }
}

.right-contents-wrapper {
    width: $right-contents-width;
    margin-left: $left-gap;
    @include tablet-landscape-only {
	margin-left: 0px;
    }
    @include tablet-portrait-and-below {
	width: 100%;
	margin-left: 0px;
    }
}

/* Profile picture and user stats */
.profpic-stat {
    width: 100%;
    min-height: $prof-width + $stat-height;
    background-color: $profpic-bg;
    @include box-sizing(border-box);
    padding: 20px;
    @include border-radius($default-border-radius);
    position: relative;
    border: 1px solid $deck-stroke;

    margin-bottom: 20px;

    .profpic {
	width: $prof-width;
	height: $prof-width;
	margin: auto;
	position: relative;

	.avatar-side {
	    width: $prof-width;
	    height: $prof-width;
	    @include border-radius($default-border-radius);
	    overflow: hidden;
	    img {
		width: $prof-width;
		height: $prof-width;
	    }
	}
    }

    .username {
	width: $prof-width;
	font-weight: 600;
	color: $username-color;
	margin: auto;
	padding: 10px 0px 10px 0px;
	font-size: $prof-username-font-size;
	word-break: break-all;
    }

    .user-stat {
	width: $prof-width;
	min-height: $stat-height;
	margin: auto;
	color: $stat-color;
    }
    $stat-item-padding: 10px;
    .stat-item {
	float: left;
	width: 45%;
	padding: $stat-item-padding $stat-item-padding $stat-item-padding 0px;
	@include box-sizing(border-box);
	font-size: 14px;
    }

    .stat-item-number {
	font-weight: 700;
	font-size: 15px;
    }
    .stat-item-label {
	font-size: 11px;
    }
    .stat-item.clickable-item {
	&:hover {
	    color: $decent-blue;
	    cursor: pointer;
	}
    }
}

.users-list-wrapper {
    width: 300px;
    min-height: 40px;
    max-height: 580px;
    overflow-y: auto;
    @include center-vertically-and-horizontally(fixed);
    @include box-sizing(border-box);
    background-color: $white;
    z-index: 6;
    padding: 10px;
    @include border-radius(3px);
    h3 {
	padding-bottom: 5px;
    }
}

.contents-tabs {
    width: 100%;
    //height: $tabs-height;
    background-color: $profpic-bg;
    @include border-radius($default-border-radius);
    position: relative;
    border: 1px solid $deck-stroke;
    @include tablet-portrait-and-below {
	max-width: $deck-width * 3 + 65px; // exactly matches 3 decks
    }
    
    ul {
	list-style-type: none;
	overflow: hidden;
    }
    .tab-item:first-child {

    }
    .tab-item:first-child {
	padding-left: $tab-padding-left;
    }
    .tab-item {
	float: left;
	font-weight: 600;
	font-size: $tab-font-size;
	color: $tab-unselected-color;
	position: relative;
	height: 100%;
	padding-top: $tab-vertical-padding;
	padding-bottom: $tab-vertical-padding;
	padding-left: 20px;
	padding-right: 20px;
	@include box-sizing(border-box);
	&:hover {
	    cursor: pointer;
	}
    }
    .tab-item.selected {
	color: $tab-selected-color;
    }
    .tab-item:first-child.selected:after {
	left: 40px;
	margin-left: 0px;
    }
    .tab-item.selected:after {
	content: "";
	position: absolute;
	top: $tab-vertical-padding*2 + 13px;
	left: 50%;//20px;
	margin-left: -10px;
	// little triangle added in subdomain styles
    }

    .follow-btn {
	position: absolute;
	top: 11px;//$prof-width - 10px; // 20px is padding
	right: 11px;//30px;
    }
}
.contents-tabs.www-subdomain {
    .tab-item.selected:after {
	@include little-triangle(12px, 12px, 12px, $www-bg-color);
    }
}
.contents-tabs.x-subdomain {
    .tab-item.selected:after {
	@include little-triangle(12px, 12px, 12px, $x-bg-color);
    }
}

.profile-contents-display {
    width: 100%;//2 * $home-card-width + $home-card-margin * 4;
    min-height: $home-card-min-height;
    margin: auto;
    position: relative;
    top: $vertical-gap;
    @include box-sizing(border-box);
    @include border-radius($default-border-radius);
}

.time-period, #hot-contents {
   background-color: $profpic-bg;
   padding-left: $tab-padding-left; // align with tabs
   padding-bottom: $time-ago-padding;
   border: 1px solid $deck-stroke;
}

#hot-contents {
    padding-top: $time-ago-padding * 2;
}

#all-contents {

}

#decks-contents {
    overflow: auto;
}

.time-period {
    min-height: $home-card-min-height;
    margin-bottom: $time-period-vertical-gap;
    @include box-sizing(border-box);
    position: relative;
    padding-top: $time-ago-padding*2 + $time-card-padding-top;
    padding-bottom: $time-ago-padding;
    @include border-radius($default-border-radius);

    .time-ago {
	width: 100%;
	padding-top: $time-ago-padding;
	padding-bottom: $time-ago-padding;
	position: absolute;
	top: 0px;
	font-size: 15px;
	font-weight: 600;
	color: $time-ago-color;
    }

    .home-card {

    }
}

.one-deck, .add-deck-btn {
    padding: 0 $deck-padding $deck-padding $deck-padding;
    float:left;
    margin-bottom: $deck-display-gap;
    margin-right: $deck-display-gap;
    @include border-radius($default-border-radius);
}

.one-deck.private-deck {
    background-color: $light-grey;
}

.one-deck {
    width: $deck-width;
    min-height: $deck-height;
    background-color: $white;
    position: relative;
    overflow: hidden;
    border: 1px solid $deck-stroke;
    h3 { 	
	color: $deck-title-color;
	font-size: $title-font-size;
    }
    h3, .deck-gear {
	position: absoute;
	padding: $title-padding;
	padding-top: $title-padding;
	padding-bottom: $title-padding * 0.5;
	font-weight: 600;
    }
    .deck-gear {
	font-size: $title-font-size;
	color: lighten($deck-title-color, 15%);
	position: absolute;
	right: 0px;
	top: 0px;
	&:hover {
	    cursor: pointer;
	    color: darken($deck-title-color, 15%);
	}
    }
    .share-info {
	font-size: 11px;
	position: absolute;
	top: $title-padding + 13px;
	left: 16px;
	color: lighten($deck-title-color, 15%);
    }

    a {
	display: block;
	color: $deck-title-color;
	&:hover {
	    color: $decent-blue;
	}
    }
    
    .four-cards {
	width: $deck-width;
	min-height: $deck-width - $title-padding*2 - $title-font-size;
	margin: auto;
	overflow: auto;
	&:hover {
	    opacity: 0.8;
	}
	.scaled-card {
	    width: $deck-width / 2 - $scaled-cards-gap*2;
	    height: $deck-width / 2 - $scaled-cards-gap*2;
	    float: left;
	    overflow: hidden;
	    margin: $scaled-cards-gap;
	    @include border-radius(2px);

	    img {
		width: $deck-width / 2 - $scaled-cards-gap*2;
		height: $deck-width / 2 - $scaled-cards-gap*2;
	    }
	}

	.scaled-card.card-text {
	    background-color: $text-default-bg;
	    padding: 4px;
	    @include box-sizing(border-box);
	    color: $text-default-font-color;
	    h1 {
		font-size: 22px;
	    }
	    p {
		font-size: 16px;
	    }
	}
    }
}
/* END ONE DECK */

.add-deck-btn {
    width: $deck-width - 2*2px;
    // background color handled in subdomain styles
    height: $deck-height - 2*2px;
    position: relative;
    border: 2px dashed $white;
    //@include box-sizing(border-box);
    &:hover {
	cursor: pointer;
	// background color handled in subdomain styles
	.add-deck-circle {
	    background-color: $darker-grey
	}
    }
    
    .add-deck-circle {
	background-color: #E6E6E6;
	width: 35px;
	height: 35px;
	position: absolute;
	left: ($deck-width+2* $deck-padding - 2*2px - 35px) / 2;
	top: 70px;
	@include border-radius(50%);
	border: 2px solid $white;
    }

    .add-deck-circle p {
	@include center-vertically-and-horizontally;
	color: $white;
	font-size: 40px;
    }

    p {
	font-weight: 600;
	text-align: center;
	transform: translate(0%, 125px);
	color: #999999;
	font-size: 15px;
    }
}

.add-deck-btn.www-subdomain {
    background-color: rgba(lighten($www-bg-color, 10%), 0.7);
    &:hover {
	background-color: rgba(lighten($www-bg-color, 10%), 0.9);
    }
}
.add-deck-btn.x-subdomain {
    background-color: rgba(lighten($x-bg-color, 10%), 0.7);
    &:hover {
	background-color: rgba(lighten($x-bg-color, 10%), 0.9);
    }
}

// for user follow btn
.follow-btn {
    width: $prof-username-font-size;
    height: $prof-username-font-size;
    font-size: $prof-username-font-size - 5px;
    @include border-radius(50%);
    border: none;
    color: $white;
    background-color: darken($art-grey-1, 5%);
    &:hover {
	background-color: darken($art-grey-1, 10%);
    }
}

.follow-btn.followed {
    background-color: lighten($yummy-green, 10%);
    &:hover {
	background-color: lighten($yummy-green, 5%);
    }
}

// for deck favorite btn
$fav-btn-color: #2eb82e;
button.deck-favorite-btn {
    font-size: 13px;
    @include box-sizing(border-box);
    border: none;
    @include border-radius($default-border-radius);
    background-color: $fav-btn-color;
    color: $white; //$deck-title-color;
    &:hover {
	background-color: darken($fav-btn-color, 15%);
    }
    &:active {
	background-color: darken($fav-btn-color, 20%);
    }
}

button.deck-favorite-btn.favored {
    color:  $deck-title-color;
    background-color: #E6E6E6;
    &:hover {
	background-color: darken(#E6E6E6, 10%);
    }
    &:active {
	background-color: darken(#E6E6E6, 15%);
    }
}

/* short bar to display user's profile and name */
.user-short-info {
    overflow: hidden;
    margin-bottom: 12px;
    position: relative;
    .short-info-profile, .short-info-name {
	float: left;
    }
    .short-info-profile {
	width: $short-info-avatar-size;
	height: $short-info-avatar-size;
	img {
	    width: $short-info-avatar-size;
	    height: $short-info-avatar-size;
	    @include border-radius(50%);
	}
    }
    .short-info-name {
	margin-top: ($short-info-avatar-size - $short-info-name-font-size ) / 2;
	position: absolute;
	left: $short-info-avatar-size + 10px;
	a {
	    font-weight: 600;
	    font-size: $short-info-name-font-size;
	    color: $deck-title-color;
	    &:hover {
		color: $decent-blue;
	    }
	}
    }

    .follow-btn {
	width: 20px;
	height: 20px;
	font-size: 14px;
	position: absolute;
	right: 0px;
	top: 6px;
    }
}

.user-short-info:last-child {
    margin-bottom: 0px;
}

#decks-contents {
    .deck-square:nth-child(3n+3) {
	margin-right: 0px;
	@include tablet-portrait-and-below {
	    margin-right: $deck-display-gap;
	}
    }
}

////////////////////
//// CATG LIST /////
////////////////////
.hm-left-side-content.fixed {  // hm = home
    position: absolute;
    width: $side-contents-width - 10px;
    left: -$home-card-width;
    top: 0px;
}
.hm-right-side-content.fixed {  // hm = home
    position: absolute;
    width: $side-contents-width - 100px;
    right: -$home-card-width + 110px;
    top: 0px;
}

.hm-left-side-content, .hm-right-side-content {
    ul {
	list-style-type: none;

	li:first-child {
	    padding-top: 0px;
	}
	li {
	    padding-top: 6px;
	    &:hover {
		cursor: pointer;
	    }
	}
	li.selected {
	}
    }
}
#catg-list {
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 30px;
    ul {
	text-align: right;
	li {
	    color: $healthy-black;
	}
	li.selected {
	    color: $decent-blue;
	    font-weight: 700;
	    font-size: 13pt;
	}
    }
}
#custm-control {
    padding: 10px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 30px;
    ul {
	text-align: left;
	li {
	    color: $healthy-black;
	}
	li.selected {
	    color: $decent-blue;
	    font-size: 11pt;
	}
    }
    .options-section {
	margin-bottom: 15px;
	h4 {
	    font-size: 14pt;
	    margin-bottom: 2px;
	    font-weight: 400;
	}
    }
}
#catg-list.www-subdomain {
   ul {
	li {
	    color: $healthy-black;
	}
	li.selected {
	    color: $decent-blue;
	}
    }
}
#catg-list.x-subdomain {
   ul {
	li {
	    color: $decent-yellow;
	}
	li.selected {
	    color: $light-grey;
	    color: $bright-red;
	    font-size: 13pt;
	}
   }
}
#custm-control.www-subdomain {
    ul {
	li {
	    color: $healthy-black;
	}
	li.selected {
	    color: $decent-blue;
	}
    }   
}
#custm-control.x-subdomain {
    ul {
	li {
	    color: $decent-yellow;
	}
	li.selected {
	    font-weight: 700;
	    color: $bright-red;
	    font-size: 11pt;
	}
    }
    h4 {
	color: lighten($x-bg-color, 20%);
    }
}