/* Colors */
$white: #FFF;
$black: #000;
$decent-blue: #336699;
$regular-blue: #0089E0;
$alert-red:  #f2dede;
$decent-purple: #661133;
$decent-orange: #FF9933;
$gold: #FFD119;
$light-grey: #EFEFEF;
$darker-grey: #CACACA;
$soft-black: #2B2B2B;
$healthy-black: #111111;
$grey-black: #666666;
$decent-cyan: #00CCFF;
$light-cyan: #CCFFFF;
$soft-blue: #66CCFF;
$regular-green: #33CC33;
$soft-green: #009933;
$grey-blue: #6699FF;
$grey-light-blue: #CCCCFF;

/* Theme colors */
$bg-color: #BDCCD4;
$theme-purple: #661155;
$theme-pink: #FFCCCC;

/* Cards */
$default-card-width: 240px;
$default-card-height: 160px;
$cards-gap: 10px;
$default-card-bg: #F2F2F2;

/* defaults */
$default-font-size: 13px;
$content-wrap-width: 90%;

/* Index page login form */
$login-form-width: 250px;
$login-form-height: 400px;
$login-form-bg: rgba(252, 252, 252, 0.5);
$login-round-btn-radius: 30px;

/* Deck show page */
$deck-header-height: 200px;
$deck-header-info-height: 30px;
$deck-header-info-width: 85px;
$cards-display-min-height: 550px - $deck-header-height;
$center-content-width: $default-card-width * 3 + 30px;
$center-content-min-height: 550px;
$side-panel-width: 185px;
$min-screen-width: $center-content-width + $side-panel-width * 2 + 10px;
$margin-between-rows: 25px;

/* user info partial */
$user-info-profile-width: 70px;