/* Colors */
$white: #FFF;
$black: #000;
$decent-blue: #336699;
$regular-blue: #0089E0;
$alert-red:  #f2dede;
$decent-purple: #661133;
$decent-orange: #FF9933;
$gold: #FFD119;
$light-grey: #EFEFEF;
$darker-grey: #CACACA;
$soft-black: #2B2B2B;
$healthy-black: #111111;
$grey-black: #666666;
$decent-cyan: #00CCFF;
$light-cyan: #CCFFFF;
$soft-blue: #66CCFF;
$regular-green: #33CC33;
$soft-green: #009933;
$grey-blue: #6699FF;
$grey-light-blue: #CCCCFF;

/* Theme colors */
$bg-color: #BDCCD4;
$theme-purple: #661155;
$theme-pink: #FFCCCC;

/* Cards */
$default-card-width: 240px;
$default-card-height: 160px;
$cards-gap: 10px;
$default-card-bg: #F2F2F2;

/* defaults */
$default-font-size: 13px;
$content-wrap-width: 90%;

/* Index page login form */
$login-form-width: 250px;
$login-form-height: 400px;
$login-form-bg: rgba(252, 252, 252, 0.5);
$login-round-btn-radius: 30px;

/* Deck show page */
$deck-header-height: 200px;
$deck-header-info-height: 30px;
$deck-header-info-width: 85px;
$cards-display-min-height: 550px - $deck-header-height;
$center-content-width: $default-card-width * 3 + 30px;
$center-content-min-height: 550px;
$side-panel-width: 185px;
$min-screen-width: $center-content-width + $side-panel-width * 2 + 10px;
$margin-between-rows: 25px;


$user-info-profile-width: 70px;

/* Card Editors */
$add-card-btn-radius: 30px;
$home-card-editor-width: 750px;
$home-card-editor-height: 480px;

$default-border-radius: 3px;

 /* Navbar colors */
$nav-bg-color: $bg-color;
$nav-logo-color: $white;

/* Home cards */
$home-card-width: 250px;
$home-card-min-height: $home-card-width;
$home-card-margin: 15px;
/*** TEXT ***/
$text-body-font-size: 18px;
$text-title-font-size: 24px;
$text-default-bg: #FCFCFC;
$text-default-font-color: #808080;
/*** IMG card ***/
$img-min-width: 50%;
$img-min-height: 50%;
$img-descp-font-size: 19px;
$img-descp-color: #F7F7F7;
/* Home page wrappers arrangement */
$recommended-contents-width: 3 * $home-card-width + $home-card-margin * 6;
$side-contents-width: 0px; // no need for now //$home-card-width + $home-card-margin;
$home-total-width: $recommended-contents-width + $side-contents-width;
$recommended-contents-left-padding: $home-card-margin;
/* info panels */
$info-panel-bg: #E6E6E6;
$info-font-color: darken($darker-grey, 15%);
$comment-box-height: 55px;
$liked-color: #BB3C41; // for cards
$liked-comment-color: #007fff;
$user-deck-height: 40px;
$deck-cards-padding-top: 20px;

/* Navbar variables */
$nav-height: 40px;
$nav-width: $home-total-width * 1.27;//85%;//$home-total-width + ;
$nav-padding: 10px;
$nav-logo-size: 38px;
$nav-logo-width: $nav-logo-size;//150px;
$nav-logo-margin-right: 20px;
$nav-search-field-height: $nav-height - 12px;
$nav-search-field-width: 470px;
$nav-search-field-font-size: 14px;
$nav-option-padding: 20px;
$nav-option-btn-size: $nav-height;
$nav-dropdown-width: 160px;
$nav-first-part-width: $nav-logo-width + $nav-logo-margin-right + $nav-search-field-width + 30px; // 30px is for margins
$nav-username-font-size: 16px;

/// Profile page ///
/* time period */
$time-ago-padding: 20px;
$time-card-padding-top: 20px;
$time-ago-color: #CCCCCC;
$time-period-vertical-gap: 20px;
/* The tabs */
$tab-font-size: 17px;
$tab-padding-left: 40px;
$vertical-gap: 20px; // between tabs and the div below it
$tab-vertical-padding: 13px;
$tabs-height: 2*$tab-vertical-padding + $tab-font-size;
$tab-unselected-color: #CCCCCC;
$tab-selected-color: #999999;
/* Profile pic and user stats */
$prof-width: 175px;
$stat-height: 100px;
$profpic-bg: #F7F7F7;
$username-color: #808080;
$stat-color: #B3B3B3;
/* General Profile page */
$display-cards-gap: 40px; // set by the masonry in js
$left-contents-width: 225px;
$right-contents-width: $tab-padding-left*2 + 2 * $home-card-width + $display-cards-gap; //$whole-contents-width - $left-gap - $left-contents-width;
$left-gap: 80px;
$whole-contents-width: $left-contents-width + $left-gap + $right-contents-width;
$whole-contents-left-shift: -($nav-width - $whole-contents-width) / 2; // align the navbar with the left edge of the profile pic region
/* Deck display on profile page */
$deck-display-gap: 15px;
$deck-width: $right-contents-width / 3 - 1.5*$deck-display-gap; // this is a bit tricky
$deck-padding: 6px;
$title-padding: 10px;
$title-font-size: 13px;
$scaled-cards-gap: 3px;
$deck-title-color: #999999;
$deck-height: $deck-width + 2*$scaled-cards-gap+2*$title-padding + 10px; // need some extra padding at the bottom
// deck editor
$deck-editor-bg: $white;
$deck-editor-width: 350px;
$deck-editor-height: 330px;
$deck-editor-label-width: 120px;
$deck-editor-field-name-color: #999999;
$deck-editor-field-height: 30px;
$deck-editor-padding: 25px;
$field-item-min-height: 30px;
$field-item-magin: 20px;
$field-border-color: #E6E6E6;
$field-input-font-size: 14px;
$field-input-padding: 10px;
$field-radio-size: 15px;
$field-name-font-size: 15px;
$field-btn-width: 80px;
$field-btn-height: 35px;
$field-btn-bottom-gap: 10px;
$deck-submit-btn-color: #56BC8A;
$deck-update-btn-color: #f0ad4e;
$deck-delete-btn-color: #ED5E68;