<div class="user-deck">
  <div class="left profile">
    <%= image_tag "default-profile.jpg", :id => "nav-pic-img" %>
  </div>
  <div class="right">
    <div class="username">Harold Finch</div>
    <div class="decktitle">Test Dock</div>
  </div>
</div>
<div class="more-cards">
  <p>Not available</p>
</div>
