<div class="user-deck slim-info">
  <div class="left profile">
    <%= image_tag "default-profile.jpg", :id => "deck-author-pic" %>
  </div>
  <div class="right">
    <div class="username" id="deck_author">
      ...
    </div>
    <div class="decktitle" id="deck_title">...</div>
  </div>
</div>
<div class="more-cards" id="more_cards_in_deck">
  <p>Not available</p>
</div>
