<div class="hidden" id="like-comment-panel">
  <div class="like-comment">
    <div><i class="fa fa-heart" id="like-card-btn"></i><div id="n_likes">...</div></div>
    <div><i class="fa fa-comment"></i><div id="n_comments">...</div></div>
  </div>
  <div class="comments-list" id="comment_list">
  </div>
  <div class="comment-box" id="comment_box">
    <!-- AJAX submit -->
    <% if @comment %>
      <%= form_for(@comment, remote: true, authenticity_token: true) do |f| %>
	<%= f.hidden_field :card_id %>
	<%= f.text_area :content, placeholder: "add comment" %>
      <% end %>
    <% end %>
  </div>  
</div>



