<div class="hidden flipper" id="like-comment-panel">
  <div class="flipper-front flip-dir1">
    <div class="like-comment">
      <div><i class="fa fa-heart"></i>2.1k</div>
      <div><i class="fa fa-comment"></i>30</div>
    </div>
    <div class="comments-list">
      <p>Not available</p>
    </div>
  </div>
  <div class="flipper-back flip-dir1">
    <div class="comment-box">
      <!-- Form for comment -->
      <form>
	<textarea placeholder="add comment"></textarea>
      </form>
    </div>  
  </div>
</div>

