<% provide(:title, "Fun vs. Funny") %>

<%= stylesheet_link_tag "decks.css" %>

<div class="container">
  <div class="main-content-wrapper">
    <div class="left-panel-wrapper">
      
    </div>
    <div class="center-content-wrapper">
      <div class="deck-show-header">

      </div>
    </div>
    <div class="right-panel-wrapper">
      
    </div>
  </div>
</div>
