<% provide(:title, "Deck") %>

<div class="whole-wrapper">
  <div class="deck-heading-wrapper">
  </div>
  <div class="cards-whole-wrapping">
    <div class="card-posting">
    </div>
  </div>
  <div class="side-whole-wrapping">
    <div class="user-info-wrapper">
    </div>
    <div class="tags-wrapper">
    </div>
    <div class="ads-wrapper">
    </div>
  </div>
</div>
