<% provide(:title, "Fun vs. Funny") %>

<%= stylesheet_link_tag "decks.css" %>

<div class="container">
  <div class="main-content-wrapper">
    <div class="left-panel-wrapper">
      
    </div>
    <div class="center-content-wrapper">
      <div class="deck-show-header">
      </div>
      <div class="cards-display-wrapper">
	<div class="card-wrapper">
	  <div class="card flipper">
	    <div class="card-front flipper-front flip-dir1" style="background-color:#000">	      
	    </div>
	    <div class="card-back flipper-back flip-dir1" style="background-color:#FFF">	      
	    </div>
	  </div>
	</div>
	<div class="card-wrapper">
	  <div class="card flipper">
	    <div class="card-front flipper-front flip-dir1" style="background-color:#000">	      
	    </div>
	    <div class="card-back flipper-back flip-dir1" style="background-color:#FFF">	      
	    </div>
	  </div>
	</div>
	<div class="card-wrapper">
	  <div class="card flipper">
	    <div class="card-front flipper-front flip-dir1" style="background-color:#000">	      
	    </div>
	    <div class="card-back flipper-back flip-dir1" style="background-color:#FFF">	      
	    </div>
	  </div>
	</div>

      </div>
    </div>
    <div class="right-panel-wrapper">
      
    </div>
  </div>
</div>
