<% provide(:title, "Fun vs. Funny") %>

<%= stylesheet_link_tag "decks.css" %>

<div class="deck-place-wrapper">
  <div class="deck-heading-wrapper">
    <h1>Funny Moments</h1>
    <h3>Did you lose yourself here?</h3>
    <div class="tags">
      <ul>
	<li class="decent-orange">funny</li>
	<li class="decent-orange">relax</li>
	<li class="decent-blue">original</li>
      </ul>
    </div>
  </div>
</div>
<div class="cards-whole-wrapping">
  <div class="card-posting">
    <div class="card-posting-front"></div>
    <div class="bar card-posting-back"></div>
  </div>
  <!-- exapmles of a card -->
  <!-- need wrapper because flipper is position-absolute -->
  <div class="card-wrapper">
    <div class="card flipper">
      <div id="card-1-front" class="card-front flipper-front flip-dir1"></div>
      <div id="card-1-back" class="card-back flipper-back flip-dir1""></div>
    </div>
  </div>
  <div class="card-wrapper">
    <div class="card flipper">
      <div id="card-0-front" class="card-front flipper-front flip-dir1"></div>
      <div id="card-0-back" class="card-back flipper-back flip-dir1""></div>
    </div>
  </div>
  <div class="card-wrapper">
    <div class="card flipper">
      <div id="card-0-front" class="card-front flipper-front flip-dir1"></div>
      <div id="card-0-back" class="card-back flipper-back flip-dir1""></div>
    </div>
  </div>
  <div class="card-wrapper">
    <div class="card flipper">
      <div id="card-0-front" class="card-front flipper-front flip-dir1"></div>
      <div id="card-0-back" class="card-back flipper-back flip-dir1""></div>
    </div>
  </div>
  <div class="card-wrapper">
    <div class="card flipper">
      <div id="card-1-front" class="card-front flipper-front flip-dir1"></div>
      <div id="card-1-back" class="card-back flipper-back flip-dir1""></div>
    </div>
  </div>
  <div class="card-wrapper">
    <div class="card flipper">
      <div id="card-0-front" class="card-front flipper-front flip-dir1"></div>
      <div id="card-0-back" class="card-back flipper-back flip-dir1""></div>
    </div>
  </div>
  <div class="card-wrapper">
    <div class="card flipper">
      <div id="card-0-front" class="card-front flipper-front flip-dir1"></div>
      <div id="card-0-back" class="card-back flipper-back flip-dir1""></div>
    </div>
  </div>
  <div class="card-wrapper">
    <div class="card flipper">
      <div id="card-1-front" class="card-front flipper-front flip-dir1"></div>
      <div id="card-1-back" class="card-back flipper-back flip-dir1""></div>
    </div>
  </div>
  <div class="card-wrapper">
    <div class="card flipper">
      <div id="card-0-front" class="card-front flipper-front flip-dir1"></div>
      <div id="card-0-back" class="card-back flipper-back flip-dir1""></div>
    </div>
  </div>
  <div class="card-wrapper">
    <div class="card flipper">
      <div id="card-1-front" class="card-front flipper-front flip-dir1"></div>
      <div id="card-1-back" class="card-back flipper-back flip-dir1""></div>
    </div>
  </div>
  <div class="card-wrapper">
    <div class="card flipper">
      <div id="card-0-front" class="card-front flipper-front flip-dir1"></div>
      <div id="card-0-back" class="card-back flipper-back flip-dir1""></div>
    </div>
  </div>
</div>
<div class="side-whole-wrapping">
  <div class="user-info-wrapper">
    
  </div>
  <div class="tags-wrapper">
  </div>
  <div class="ads-wrapper">
  </div>
</div>
